<html>
    <head>
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <div class="printarea">            
            <h2 style="text-align: center">DAFTAR KELURAHAN</h2>
            <table width="100%" style="font-size: 12px">
                <tr style="background:#f3f3f3;">
                    <th style="width: 5%; text-align: center">
                        NO.
                    </th>
                    <th style="width: 13%; text-align: center">
                        KODE KECAMATAN
                    </th>
                    <th style="text-align: center">
                        NAMA KECAMATAN
                    </th>
                    <th style="width: 13%; text-align: center">
                        KODE KELURAHAN
                    </th>
                    <th>
                        NAMA KELURAHAN
                    </th>
                </tr>
                <?php
                $counter = 1;
                foreach ($this->datakelurahan as $k => $v) {
                    ?>
                    <tr>
                        <td style="text-align: center">
                            <?= $counter ?>
                        </td>
                        <td style="text-align: center">
                            <?= str_pad($v['s_kodekec'], 3, "0", STR_PAD_LEFT); ?>
                        </td>
                        <td>
                            <?= $v['s_namakec']; ?>
                        </td>
                        <td style="text-align: center">
                            <?= str_pad($v['s_kodekel'], 3, "0", STR_PAD_LEFT); ?>
                        </td>
                        <td>
                            <?= $v['s_namakel']; ?>
                        </td>
                    </tr>
                    <?php
                    $counter++;
                }
                ?>
            </table>
        </div>
    </body>
</html>

