<?php
include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/barcodecoy/qrlib.php');

$PNG_TEMP_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' .
        $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' .
        $data['t_idtransaksi'] . '/';

$PNG_WEB_DIR = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' .
        $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' .
        $data['t_idtransaksi'] . '/';

if (!file_exists($PNG_TEMP_DIR)) {
    mkdir($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/', 0777, true);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/', 0777);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/', 0777);
    chmod($_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/', 0777);
}

$errorCorrectionLevel = 'L';
$matrixPointSize = 3;
$barcode = $data['t_kodebayar'];

$filename = $PNG_TEMP_DIR . '' . $data['t_idjenisobjek'] . '_' . $data['t_periodepajak'] . '_' . $data['t_idtransaksi'] . '_' . md5($barcode . '|' . $errorCorrectionLevel . '|' . $matrixPointSize) . '.png';
QRcode::png($barcode, $filename, $errorCorrectionLevel, $matrixPointSize, 2);

$tampilbarcode = '<img src="' . $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/public/img_barcode/' . $data['t_idjenisobjek'] . '/' . $data['t_periodepajak'] . '/' . $data['t_idtransaksi'] . '/' . basename($filename) . '" />';
?>
<html>

    <head>
        <style type="text/css">
            .border_atas {
                border-top: 1px solid black;
                border-collapse: collapse;
            }

            .border_kiri {
                border-left: 1px solid black;
                border-collapse: collapse;
            }

            .border_kanan {
                border-right: 1px solid black;
                border-collapse: collapse;
            }

            .border_bawah {
                border-bottom: 1px solid black;
                border-collapse: collapse;
            }

            .font_besar {
                font-size: 12pt;
            }

            .font_kecil {
                font-size: 10pt;
            }

            .font_lima {
                font-size: 7pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }

            .font_sepuluh {
                font-size: 10pt;
            }

            .font_sembilan {
                font-size: 9pt;
            }

            table {
                font-family: arial;
            }
        </style>
    </head>

    <body>
        <?php
        ini_set("max_execution_time", 500);
        if (!function_exists('kekata')) {

            function kekata($x) {
                $x = abs($x);
                $angka = array("", "Satu", "Dua", "Tiga", "Empat", "Lima",
                    "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh", "Sebelas");
                $temp = "";
                if ($x < 12) {
                    $temp = " " . $angka[$x];
                } else if ($x < 20) {
                    $temp = kekata($x - 10) . " Belas";
                } else if ($x < 100) {
                    $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
                } else if ($x < 200) {
                    $temp = " Seratus" . kekata($x - 100);
                } else if ($x < 1000) {
                    $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
                } else if ($x < 2000) {
                    $temp = " Seribu" . kekata($x - 1000);
                } else if ($x < 1000000) {
                    $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
                } else if ($x < 1000000000) {
                    $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
                } else if ($x < 1000000000000) {
                    $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
                } else if ($x < 1000000000000000) {
                    $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
                }
                return $temp;
            }

        }

        function terbilang($x, $style = 4) {
            if ($x < 0) {
                $hasil = "MINUS " . trim(kekata($x));
            } else {
                $hasil = trim(kekata($x));
            }
            switch ($style) {
                case 1:
                    $hasil = strtoupper($hasil);
                    break;
                case 2:
                    $hasil = strtolower($hasil);
                    break;
                case 3:
                    $hasil = ucwords($hasil);
                    break;
                default:
                    $hasil = ucfirst($hasil);
                    break;
            }
            return $hasil;
        }

        function namabulan($index) {
            // remove leading 0
            $index = ltrim($index, "0");
            $namabulan = array("", "Januari", "Februari", "Maret",
                "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember");
            return $namabulan[$index];
        }

        $jatuhtempo = $data['t_tgljatuhtempo'];
        $tglsekarang = date('Y-m-d');

        $ts1 = strtotime($jatuhtempo);
        $ts2 = strtotime($tglsekarang);

        $year1 = date('Y', $ts1);
        $year2 = date('Y', $ts2);

        $month1 = date('m', $ts1);
        $month2 = date('m', $ts2);

        $day1 = date('d', $ts1);
        $day2 = date('d', $ts2);
        if ($day1 < $day2) {
            $tambahanbulan = 1;
        } else {
            $tambahanbulan = 0;
        }

        $jmlbulan = (($year2 - $year1) * 12) + ($month2 - $month1 + $tambahanbulan);
        if ($jmlbulan > 24) {
            $jmlbulan = 24;
            $jmldenda = $jmlbulan * 2 / 100 * $data['t_jmlhpajak'];
        } elseif ($jmlbulan <= 0) {
            $jmlbulan = 0;
            $jmldenda = $jmlbulan * 2 / 100 * $data['t_jmlhpajak'];
        } else {
            $jmldenda = $jmlbulan * 2 / 100 * $data['t_jmlhpajak'];
        }
        ?>
        <table class="border_atas border_bawah border_kanan border_kiri font_sembilan"
               style="width: 100%;font-family: arial;">
            <tr>
                <td>
                    <?php $gambar = $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>
                    <?php $gambar_bank = $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/public/upload/logo_bank_jatim.jpg"; ?>
                    <img src="<?= $gambar ?>" style="width:50px; padding: 10px" />
                </td>
                <td style="padding-right:20px;">
            <center>
                <span style="font-size:12pt">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></span>
                <br>
                <span style="font-size:15pt; font-weight: bold"><?= strtoupper($ar_pemda->s_namainstansi) ?></span>
                <br>
                <?= $ar_pemda->s_alamatinstansi ?> Telp/Fax <?= $ar_pemda->s_notelinstansi ?>,
                <?= $ar_pemda->s_namaibukotakabkota ?>
            </center>
        </td>
        <td class="border_kiri"><?= $tampilbarcode ?></td>
        <td style="text-align: center" class="font_sepuluh border_kiri">
            <img src="<?= $gambar_bank ?>" style="width:100px; height: 40px;" />
            Virtual Account<br>
            <div style="padding : 50px;">
                <b><?= $data['t_kodebayar']; ?></b>
            </div>
        </td>
    </tr>
</table>
<table class="border_bawah border_kanan border_kiri font_sepuluh" style="width: 100%;font-family: arial;">
	<tr>
		<td colspan="3" style="padding:2px; border-spacing:0px; padding-left: 15px; text-align:center;" class="border_bawah">
			<h2><?= strtoupper($data['s_namajenis'])?></h2>
		</td>
	</tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px; width: 25%; padding-top: 10px;">
            NPW<?= substr($data['t_npwpd'], 0, 1) ?>D
        </td>
        <td style="width:1%;   vertical-align: bottom;">
            :
        </td>
        <td style="padding:2px;border-spacing:0px; padding-top: 10px;">
            <?= $data['t_npwpd'] ?>
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px;">
            Nama W<?= substr($data['t_npwpd'], 0, 1) ?>
        </td>
        <td style="width:1%; vertical-align: center;">
            :
        </td>
        <td style="padding:2px;border-spacing:0px;">
            <?= $data['t_nama'] ?>
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px;vertical-align: top;">
            Alamat W<?= substr($data['t_npwpd'], 0, 1) ?>
        <td style="width:1%; vertical-align: center;">
            :
        </td>
        <td style="padding:2px; padding-left:3px; border-spacing:0px;">
            <?= $data['t_alamat'] . ", Kel./Desa " . $data['s_namakel'] . ", Kec. " . $data['s_namakec'] . ", Kab. " . $data['t_kabupaten'] ?>
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px;">
            NIO<?= substr($data['t_npwpd'], 0, 1) ?>
        </td>
        <td style="width:1%;">
            :
        </td>
        <td class="border_kanan" style="padding:2px;border-spacing:0px;">
            <?= $data['t_nop'] ?>
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px;">
            Nama Objek
        </td>
        <td style="width:1%;">
            :
        </td>
        <td class="border_kanan" style="padding:2px; border-spacing:0px;">
            <?= $data['t_namaobjek'] ?>
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px;vertical-align: top;">
            Alamat Objek
        </td>
        <td style="width:1%;  vertical-align: center;">
            :
        </td>
        <td class="border_kanan" style="padding:2px; border-spacing:0px;">
            <?= $data['t_alamatobjek'] . ", Kel./Desa " . $data['s_namakelobjek'] . ", Kec. " . $data['s_namakecobjek'] . ", Kab. " . $data['t_kabupatenobjek'];?>
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px;">
            Masa <?= $data['s_jenispungutan'] ?>
        </td>
        <td style="width:1%;">
            :
        </td>
        <td class="border_kanan" style="padding:2px; border-spacing:0px;">
            <?= namabulan(date('m', strtotime($data['t_masaawal']))) ?>
            <?= date('Y', strtotime($data['t_masaawal'])) ?>
            (<?= date('d-m-Y', strtotime($data['t_masaawal'])) ?> s/d
            <?= date('d-m-Y', strtotime($data['t_masaakhir'])) ?>)
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:0px; padding-left: 15px;">
            Tgl Jatuh Tempo
        </td>
        <td style="width:1%;">
            :
        </td>
        <td class="border_kanan" style="padding:2px; border-spacing:0px;">
            <?= date('d', strtotime($data['t_tgljatuhtempo'])) ?>
            <?= namabulan(date('m', strtotime($data['t_tgljatuhtempo']))) ?>
            <?= date('Y', strtotime($data['t_tgljatuhtempo'])) ?>
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:2px; padding-left: 15px;font-weight: bold;">
            Tagihan Pokok
        </td>
        <td style="width:1%;">
            :
        </td>
        <td class="border_kanan" style="padding:2px; border-spacing:0px;font-weight: bold;">
            Rp. <?= number_format($data['t_jmlhpajak'], 0, ',', '.') ?>,-
        </td>
    </tr>
    <?php
    if (empty($data['t_tglpembayaran'])) {
        $jmlh_bulandenda = $jmlbulan;
        $jmlh_pembayaran = $data['t_jmlhpajak'] + $jmldenda;
    } else {
        $jmlh_bulandenda = $data['t_jmlhbulandendapembayaran'];
        $jmlh_pembayaran = $data['t_jmlhpembayaran'];
    }
    ?>
    <?php if (!empty($data['t_tglpembayaran'])) { ?>
        <tr>
            <td style="padding:2px; border-spacing:2px; padding-left: 15px;font-weight: bold;">
                Denda
            </td>
            <td style="width:1%;">
                :
            </td>
            <td class="border_kanan" style="padding:2px; border-spacing:0px;">
                <b>Rp. <?= number_format($data['t_jmlhbayardenda'], 0, ',', '.') ?>,-
            </td>
        </tr>
    <?php } else { ?>
        <tr>
            <td style="padding:2px; border-spacing:2px; padding-left: 15px;font-weight: bold;">
                Denda (<?= $jmlh_bulandenda ?> Bulan)
            </td>
            <td style="width:1%;">
                :
            </td>
            <td class="border_kanan" style="padding:2px; border-spacing:0px;">
                <b>Rp. <?= number_format($jmldenda, 0, ',', '.') ?>,-</b>
                &nbsp;&nbsp;&nbsp;&nbsp;<?php if (empty($data['t_tglpembayaran'])) { ?><span
                        style="color:black;font-size: 9pt"><i>(Perhitungan Denda sampai dengan tanggal
                            <?= date('d-m-Y', strtotime($tglsekarang)) ?>)</i></span><?php } ?>
            </td>
        </tr>
    <?php } ?>
    <tr>
        <td style="padding:2px; border-spacing:2px; padding-left: 15px;font-weight: bold;">
            Jumlah Pembayaran
        </td>
        <td style="width:1%;">
            :
        </td>
        <td class="border_kanan" style="padding:2px; border-spacing:0px;font-weight: bold;">
            Rp. <?= number_format($jmlh_pembayaran, 0, ',', '.') ?>,-
        </td>
    </tr>
    <tr>
        <td style="padding:2px; border-spacing:2px; padding-left: 15px; padding-bottom: 10px;vertical-align:top;">
            Terbilang
        </td>
        <td style="width:1%;">
            :
        </td>
        <td class="border_kanan" style="padding:2px; border-spacing:0px; padding-bottom: 10px;">
            <i>#<?= terbilang($jmlh_pembayaran); ?> Rupiah#</i>
        </td>
    </tr>
    <?php if (!empty($data['t_tglpembayaran'])) { ?>

        <tr>
            <td style="padding:2px; border-spacing:2px; padding-left: 15px; padding-bottom: 10px;">
                Status Pembayaran
            </td>
            <td style="width:1%;">
                :
            </td>
            <td class="border_kanan" style="padding:2px; border-spacing:0px; padding-bottom: 10px;">
                <b style="color:green;font-size: 12pt;">LUNAS <small>(Tanggal
                        <?= date('d-m-Y', strtotime($data['t_tglpembayaran'])) ?>)</small></b>
            </td>
        </tr>
    <?php } ?>
</table>
<span style="font-size: 7pt;">Printed by SIMPATDA</span>

<br>
<table class="font_sembilan" style="width: 100%; border-spacing: 0px">
    <tr>
        <td style="padding-top: 10px; padding-left: 15px;" colspan="2">
            <b>Keterangan :</b>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            1.
        </td>
        <td  style="border-spacing:0px;padding-right:2px;text-align:justify;">
        Pembayaran dengan <b><i>Virtual Account</i></b> (VA) dapat dilakukan melalui seluruh Bank dengan menggunakan seluruh media pembayaran antara lain : <i>Teller Bank, ATM, Mobile Banking, Internet Banking, SMS Banking, Link Aja, Go Pay, dan OVO.</i>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            2.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
            Tanggal Expired Kode VA ini adalah <b><?= date('d-m-Y', strtotime($data['t_tglexpva'])) ?></b>, Bayar Sebelum Tanggal Expired.
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            3.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
            Apabila VA Sudah Expired, Klik Cetak Kode Bayar Untuk <i>Generate</i> Ulang Kode VA.
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px; padding-left: 15px;" colspan="2">
            <b>Cara Pembayaran melalui <i>JConnect Mobile</i> (Mobile Banking Bank Jatim) :</b>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            1.
        </td>
        <td  style="border-spacing:0px;padding-right:2px;text-align:justify;">
        Pilih menu pembayaran
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            2.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Pilih <i>Virtual Account</i>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            3.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Masuk menu <i>Virtual Account</i>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            4.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Pilih Nomor <i>Virtual Account</i>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            5.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Masukkan nomor <i>Virtual Account</i>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            6.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Jika tagihan sudah sesuai silahkan masukkan PIN <i>Mobile Banking</i>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px; padding-left: 15px;" colspan="2">
            <b>Cara Pembayaran melalui ATM Bank Jatim :</b>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            1.
        </td>
        <td  style="border-spacing:0px;padding-right:2px;text-align:justify;">
        Pilih menu pembayaran
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            2.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Pilih menu Lainnya
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            3.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Pilih menu <i>Virtual Account</i>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            4.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Masukkan nomor <i>Virtual Account</i>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px; padding-left: 15px;" colspan="2">
            <b>Cara Pembayaran melalui Bank lain :</b>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            1.
        </td>
        <td  style="border-spacing:0px;padding-right:2px;text-align:justify;">
        Masuk ke Menu Transfer Bank
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            2.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Pilih Bank Jatim
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            3.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Masukkan nomor <i>Virtual Account</i>
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            4.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Masukkan jumlah pembayaran sesuai tagihan
        </td>
    </tr>
    <tr>
        <td style="width:6%; border-spacing:0px; padding-left: 15px; vertical-align: top">
            5.
        </td>
        <td  style="border-spacing:0px;padding-right:2px">
        Lanjutkan sesuai aplikasi masing masing bank
        </td>
    </tr>
</table>
</body>

</html>