<html>
    <head>
        <style type="text/css">         
            body {
                font-family: sans-serif;
            }   
            .border_atas {
                border-top: 1px solid black;
                border-collapse: collapse;
            }

            .border_kiri {
                border-left: 1px solid black;
                border-collapse: collapse;
            }

            .border_kanan {
                border-right: 1px solid black;
                border-collapse: collapse;
            }

            .border_bawah {
                border-bottom: 1px solid black;
                border-collapse: collapse;
            }

            .font_lima {
                font-size: 5pt;
            }

            .font_tujuh {
                font-size: 7pt;
            }  

            .font_delapan {
                font-size: 8pt;
            }    

            .font_sembilan {
                font-size: 9pt;
            }    

            .font_sepuluh {
                font-size: 10pt;
            }

            .font_duabelas {
                font-size: 12pt;
            }
            @page {
                margin: 40px;
            }
        </style>
    </head>
    <body>
        <?php
        ini_set("max_execution_time", 500);
        $MenuHelper = $this->MenuHelper();
        $t_tglpendataan = date('d', strtotime($data['t_tglpendataan'])) . " " . $MenuHelper->namabulandate(date('m', strtotime($data['t_tglpendataan']))) . " " . date('Y', strtotime($data['t_tglpendataan']));
        ?>
        <table class="border_atas border_bawah border_kanan border_kiri" style="width: 100%">
            <tr>
                <td style="width: 10%">
                    <img src="<?= $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>"
                         style="width:60px;" />
                </td>
                <td style="width: 60%">
                    <b style="font-size: 14px;">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></b>
                    <br>
                    <b style=" font-size: 18px;"><?= strtoupper($ar_pemda->s_namainstansi) ?></b>
                    <br>
                    <?= $ar_pemda->s_alamatinstansi ?> <?= $ar_pemda->s_namaibukotakabkota ?><br>Telp/Fax
                    <?= $ar_pemda->s_notelinstansi ?>
                </td>
                <td class="border_kiri" style="width: 30%; padding-left: 10px">
                    <table style="border:#fff 1px solid;">
                        <tr>
                            <td>No. SPTPD</td>
                            <td>:</td>
                            <td><?= $data['t_nourut'] ?></td>
                        </tr>
                        <tr>
                            <td>Masa Pajak</td>
                            <td>:</td>
                            <?php if (date('m-Y', strtotime($data['t_masaawal'])) == date('m-Y', strtotime($data['t_masaakhir']))): ?>
                                <td><?= $MenuHelper->namabulandate(date('m', strtotime($data['t_masaawal']))) ?></td>
                            <?php else: ?>
                                <td><?= date('d-m-Y', strtotime($data['t_masaawal'])); ?> S/D
                                    <?= date('d-m-Y', strtotime($data['t_masaakhir'])); ?></td>
                            <?php endif; ?>
                        </tr>
                        <tr>
                            <td>Tahun Pajak</td>
                            <td>:</td>
                            <td><?= date('Y', strtotime($data['t_masaawal'])); ?></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%;">
            <tr>
                <td class="border_kiri border_kanan border_bawah"
                    style="border-spacing:0px; padding: 10px 10px 10px 10px; text-align: center; width: 50% !important;"
                    colspan="2">
                    <b style=" font-size:16pt;">SPTPD</b>
                    <br>
                    <b style=" font-size:11pt;">(SURAT PEMBERITAHUAN PAJAK DAERAH)
                        <br>
                        <?= strtoupper($data['s_namajenis']) ?></b>
                </td>
                <td class="border_bawah" style="padding:10px 10px 10px 10px;border-spacing:0px;width: 50%!important;"
                    colspan="2">
                    Kepada Yth :
                    <br>
                    <?= $ar_pemda->s_namainstansi ?>
                    <br>
                    <?= 'Kabupaten ' . $ar_pemda->s_namakabkota ?>
                    <br>
                    di <?= $ar_pemda->s_namaibukotakabkota ?>
                </td>

            </tr>
        </table>
        <table class="border_kanan border_kiri font_delapan" style="width:100%;">
            <tr>
                <td colspan="4" style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; padding-top: 10px;">
                    PERHATIAN :
                </td>
            </tr>
            <tr>
                <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                    1.
                </td>
                <td colspan="3">
                    Harap diisi dalam rangkap dua (2) ditulis dengan huruf CETAK
                </td>
            </tr>
            <tr>
                <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                    2.
                </td>
                <td colspan="3">
                    Beri Nomor pada kotak <span class="border_kanan border_kiri border_atas border_bawah"
                                                style="padding:10px;">&nbsp;&nbsp;&nbsp;&nbsp;</span> yang tersedia untuk jawaban yang diberikan
                </td>
            </tr>
            <tr>
                <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px; vertical-align: top">
                    3.
                </td>
                <td colspan="3">
                    Setelah diisi dan ditanda tangani, harap diserahkan kembali kepada
                    <b><?= $ar_pemda->s_namainstansi ?></b>
                    paling lambat tanggal 20 (dua puluh) bulan berikutnya (Self Assesment)
                </td>
            </tr>
            <tr>
                <td style="width: 5%; padding-bottom:15px; border-spacing:0px; padding-left: 15px; vertical-align: top"
                    class="border_bawah">
                    4.
                </td>
                <td colspan="3" class="border_bawah" style="padding-bottom:15px;">
                    Keterlambatan Penyerahan dari tanggal tersebut diatas akan dikenakan sanksi administrasi sebesar 2% per
                    bulan.
                </td>
            </tr>
        </table>
        <table class="border_kiri border_kanan border_bawah font_delapan" style="width:100%">
            <tr>
                <td style="font-weight: bold; text-align: center;">A. DATA WAJIB PAJAK</td>
            </tr>
        </table>
        <table class="border_kiri border_kanan border_bawah font_delapan" style="width:100%;">
            <tr>
                <td style="width:5%;padding-left: 15px; ">1.</td>
                <td style="width:20%;">NPWPD</td>
                <td style="width:5%;">:</td>
                <td><?= $data['t_npwpd'] ?></td>
            </tr>
            <tr>
                <td style="padding-left: 15px;">2.</td>
                <td>Nama Wajib Pajak</td>
                <td>:</td>
                <td><?= $data['t_namawp'] ?></td>
            </tr>
            <tr>
                <td style="padding-left: 15px;vertical-align:top;">3.</td>
                <td style="vertical-align:top;">Alamat Wajib Pajak</td>
                <td style="vertical-align:top;">:</td>
                <td><?= $data['t_alamat_lengkapwp'] ?></td>
            </tr>
            <tr>
                <td style="padding-left: 15px;vertical-align:top;">4.</td>
                <td>NIOP</td>
                <td>:</td>
                <td><?= $data['t_nop'] ?></td>
            </tr>
            <tr>
                <td style="padding-left: 15px;vertical-align:top;">5.</td>
                <td>Nama Objek/Usaha</td>
                <td>:</td>
                <td><?= $data['t_namaobjek'] ?></td>
            </tr>
            <tr>
                <td style="padding-left: 15px;vertical-align:top;">6.</td>
                <td style="vertical-align:top;">Alamat Objek/Usaha</td>
                <td style="vertical-align:top;">:</td>
                <td><?= $data['t_alamatlengkapobjek'] ?></td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
        </table>
        <table class="border_kanan border_kiri font_delapan" style="width: 100%;">
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px; width: 5%">
                    1.
                </td>
                <td style="padding:0; border-spacing:0px;">
                    Data Objek Pajak
                </td>
            </tr>
        </table>
        <table class="border_kanan border_kiri font_delapan" style="width: 100%;">
            <tr style="text-align: center">
                <td class="border_kanan border_kiri">
                    <table style="margin-left: 15px; margin-right: 15px; border: 1px solid black; border-collapse: collapse; width: 100%; margin-bottom: 10px">
                        <tr>
                            <td style="width: 5%; border: 1px solid black; border-collapse: collapse; text-align: center">
                                No.
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                                Jenis Reklame dan Judul (Lihat Keterangan)
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                                Lokasi Pemasangan
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                                Ukuran
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                                Jumlah
                            </td>
                            <td style="border: 1px solid black; border-collapse: collapse; text-align: center">
                                Batas/Jangka waktu Pemasangan
                            </td>
                        </tr>
                        <?php
                        $counter = 1;
                        foreach ($datadetail as $row) {
                            ?>
                            <tr>
                                <td style="text-align: center; border: 1px solid black; border-collapse: collapse; vertical-align: top">
                                    <?= $counter++ ?>
                                </td>
                                <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top">
                                    Judul : <?= $row['t_naskah'] ?>
                                </td>
                                <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top">
                                    <?= $row['t_lokasi'] ?>
                                </td>
                                <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top;">
                                    P <?= $row['t_panjang'] ?> m<br>
                                    L <?= $row['t_lebar'] ?> m<br>
                                </td>
                                <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top; text-align: center;">
                                    <?= $row['t_jumlah'] ?>
                                </td>
                                <td style="border: 1px solid black; border-collapse: collapse; vertical-align: top; text-align: center;">
                                    <?= $row['t_jangkawaktu'] . ' ' . $row['t_tipewaktu'] ?>
                                </td>
                            </tr>
                        <?php } ?>
                    </table>
                </td>
            </tr>
        </table>
        <table class="border_kanan border_kiri font_delapan" style="width: 100%;">
            <tr>
                <td style="border-spacing:0px; padding-left: 15px;" colspan="5">
                    <u>Keterangan</u>
                </td>
            </tr>
            <tr>
                <td style="border-spacing:0px; padding-left: 15px;" colspan="4">
                    Jenis Reklame
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Ukuran :
                </td>
            </tr>
            <tr>
                <td style="width: 5%; padding:0; border-spacing:0px; padding-left: 15px;">
                    1
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame papan/bilboard/megatron
                </td>
                <td style="width: 3%; padding:0;border-spacing:0px;">
                    6
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame Udara
                </td>
                <td style="padding:0;border-spacing:0px;">
                    P = Panjang
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                    2
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame kain
                </td>
                <td style="padding:0;border-spacing:0px;">
                    7
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame suara
                </td>
                <td style="padding:0;border-spacing:0px;">
                    L = Lebar
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                    3
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame melekat (stiker)
                </td>
                <td style="padding:0;border-spacing:0px;">
                    8
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame film / slide
                </td>
                <td style="padding:0;border-spacing:0px;">
                    T = Tinggi
                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                    4
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame selebaran
                </td>
                <td style="padding:0;border-spacing:0px;">
                    9
                </td>
                <td style="padding:0;border-spacing:0px;">
                    Reklame peragaan
                </td>
                <td style="padding:0;border-spacing:0px;">

                </td>
            </tr>
            <tr>
                <td style="padding:0; border-spacing:0px; padding-left: 15px;">
                    9
                </td>
                <td style="padding:0;border-spacing:0px;" colspan="4">
                    Reklame berjalan, termasuk pada kendaraan
                </td>
            </tr>
        </table>
        <table class="border_kanan border_atas border_kiri font_delapan" style="width: 100%;">
            <tr>
                <td style="padding:0; border-spacing:0px; text-align: center" class="border_bawah">
                    <b>B. PERNYATAAN</b>
                </td>
            </tr>
        </table>
        <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%">
            <tr>
                <td style="width: 5%; padding-left: 15px; padding-top: 10px; padding-right: 15px; text-align: justify" colspan="2">
                    Dengan menyadari sepenuhnya akan akibat termasuk sanksi-sanksi sesuai dengan ketentuan perudang-undangan yang berlaku, saya
                    atau yang saya beri kuasa menyatakan apa yang telah kami beritahukan tersebut diatas beserta lampiran-lampirannya adalah benar,
                    lengkap dan jelas.
                </td>
            </tr>
            <tr>
                <td style="width: 32%">

                </td>
                <td style="text-align: center">
                    <?= $ar_pemda->s_namaibukotakabkota ?>, <?= $t_tglpendataan ?> 
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td style="text-align: center">
                    Wajib Pajak
                    <br><br><br><br><br>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 10px">

                </td>
                <td style="text-align: center; padding-bottom: 10px">
                    ( <?= strtoupper($data['t_nama']) ?> )
                </td>
            </tr>
        </table>
        <table class="border_kanan border_kiri font_delapan" style="width: 100%;">
            <tr>
                <td style="padding:0; border-spacing:0px; text-align: center" class="border_bawah">
                    <b>D. DIISI OLEH PETUGAS PENERIMA <?= $ar_pemda->s_namasingkatinstansi ?></b>
                </td>
            </tr>
        </table>
        <table class="border_bawah border_kanan border_kiri font_delapan" style="width: 100%;">
            <tr>
                <td style="width: 30%; padding-left: 15px; padding-top: 10px">
                    Diterima tanggal
                </td>
                <td style="width: 2%; padding-top: 10px">
                    :
                </td>
                <td style="padding-top: 10px">

                </td>
            </tr>
            <tr>
                <td style="padding-left: 15px">
                    Nama Petugas
                </td>
                <td>
                    :
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td style="padding-left: 15px; padding-bottom: 10px">
                    NIP
                </td>
                <td>
                    :
                </td>
                <td style="padding-bottom: 10px">

                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding-left: 300px">
                    <br>
                    <br>
                    (...............................)
                </td>
            </tr>
        </table>
    </body>
</html>