<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pageminerba');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }

    .form-control.rekening:focus{
    width: 500px;
   }

</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyph-icon icon-pencil"></i>
                    Pendataan <?= $datapendaftaran['s_namajenis'] ?><b class="blink" style="font-size: 12px; color: red"><?= $message ?></b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-12 center-div">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:center; background:black; border-radius: 25px; color: orange; padding: 5px 15px 5px 15px; font-size: 16px; font-weight:bolder">NPWPD : <?= $datapendaftaran['t_npwpd'] ?> / NIOP : <?= $datapendaftaran['t_nop'] ?></span>
                        </div>
                    </div>
                    <?= $this->form()->openTag($form) ?>
                    <div class="col-md-6">

                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data WP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIK</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nik'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nama'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data OP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIOP</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nop'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_namaobjek'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamatobjek'] ?>
                                            ,RT. <?= $datapendaftaran['t_rtobjek'] ?>
                                            ,RW. <?= $datapendaftaran['t_rwobjek'] ?>
                                            ,Desa/Kel. <?= $datapendaftaran['s_namakelobjek'] ?>
                                            ,Kec. <?= $datapendaftaran['s_namakecobjek'] ?>
                                            <!-- ,Kab. <?= $datapendaftaran['t_kabupatenobjek'] ?> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pad10B">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Pendataan</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 hidden">
                            <label class="col-sm-2 control-label">Nomor Urut</label>
                            <div class="col-sm-2">
                                <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                                <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                <?= $this->formHidden($form->get("t_idobjek")) ?>
                                <?= $this->formHidden($form->get("t_jenispajak")) ?>
                                <?= $this->formHidden($form->get("t_tarifpajak")) ?>
                                <?= $this->formText($form->get("t_nourut")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Periode Pajak</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_periodepajak")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tanggal Pendataan</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_tglpendataan")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Masa Pajak</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_masaawal")) ?>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label">S/D</label>    
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_masaakhir")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Jenis Objek MINERBA</label>
                            <div class="col-sm-3">
                                <?= $this->formSelect($form->get("t_jenisobjekwp")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12" id="div_golwapu" style="display:none;">
                            <label class="col-sm-2 control-label">Golongan WaPu</label>
                            <div class="col-sm-3">
                                <?= $this->formSelect($form->get("t_golonganwapu")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12" id="div_kegiatan">
                            <label class="col-sm-2 control-label">Nama Kegiatan</label>
                            <div class="col-sm-5">
                                <?= $this->formTextarea($form->get("t_namakegiatan")) ?>
                                <span id="error_t_namakegiatan" style="color : red; display:none;" ></span>
                            </div>
                        </div>
                        <div class="col-sm-12" id="div_keterangan">
                            <label class="col-sm-2 control-label">Keterangan</label>
                            <div class="col-sm-5">
                                <?= $this->formText($form->get("t_keterangan")) ?>
                                <span id="error_t_keterangan" style="color : red; display:none; " ></span>
                            </div>
                        </div>
                        <div id="table_wapurab" style="display: none;">
                            <div class="col-sm-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border" align="right">
                                        <span class="btn btn-sm btn-danger" id="tambahDetailrab" al><i class="glyph-icon icon-plus"></i> Tambah</span>
                                    </div>
                                    <div class="box-body table-responsive">
                                        <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                            <tr>
                                                <th style='background-color: #00BCA4; color: white; text-align:center;' colspan="2">Jenis</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Volume (M3)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Batu_Pecah</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Batu_Belah</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tanah_Urug</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Sirbang</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Sirug</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Grosok</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Sirtu</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Kapur_Pasang</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tanah_Liat</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th>
                                            </tr>
                                            <?php
                                            $idr = 1;
                                            foreach(@$datadetailrab as $v):
                                            ?>
                                            <tr id="detailrabnode<?= $idr ?>">
                                                <td>
                                                    <input type="hidden" id="t_idrabminerba<?= $idr ?>" name="t_idrabminerba[]" value="<?=$v['t_idrabminerba']?>">
                                                    <input type="hidden" id="t_idrab<?= $idr ?>" name="t_idrab[]" value="<?=$v['t_idrab']?>">
                                                    <input id="t_jenisrab<?= $idr ?>" name="t_jenisrab[]" class="form-control" readonly value="<?=$v['s_jenispekerjaan']?>" style="width: 80px;">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-warning" onclick="bukamodalRab(<?= $idr ?>)"><span class="glyph-icon icon-search"></span></button>
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onkeyup="hitungpajakrabminerba(<?= $idr ?>)" onchange="hitungpajakrabminerba(<?= $idr ?>)" name="t_volumerab[]" id="t_volumerab<?= $idr ?>" value="<?=$v['t_volumerab']?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_batupecah[]" id="t_batupecah<?= $idr ?>" readonly="true" value="<?=number_format($v['t_batupecah'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_batublok[]" id="t_batublok<?= $idr ?>" readonly="true" value="<?=number_format($v['t_batublok'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_tanahurug[]" id="t_tanahurug<?= $idr ?>" readonly="true" value="<?=number_format($v['t_tanahurug'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_sirbang[]" id="t_sirbang<?= $idr ?>" readonly="true" value="<?=number_format($v['t_sirbang'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_sirug[]" id="t_sirug<?= $idr ?>" readonly="true" value="<?=number_format($v['t_sirug'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_grosok[]" id="t_grosok<?= $idr ?>" readonly="true" value="<?=number_format($v['t_grosok'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_sirtu[]" id="t_sirtu<?= $idr ?>" readonly="true" value="<?=number_format($v['t_sirtu'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_kapurpasang[]" id="t_kapurpasang<?= $idr ?>" readonly="true" value="<?=number_format($v['t_kapurpasang'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(<?= $idr ?>)" name="t_tanahliat[]" id="t_tanahliat<?= $idr ?>" readonly="true" value="<?=number_format($v['t_tanahliat'],2,',','.')?>">
                                                </td>
                                                <td>
                                                <span class="btn btn-sm btn-danger" onclick="removerabtr(<?= $idr ?>)"><span class="glyph-icon icon-trash"></span></span>
                                                </td>
                                            </tr>
                                            <?php
                                            $idr++;
                                            endforeach;
                                            ?>
                                            <input type="hidden" id="idr" value="<?=$idr++?>">
                                            <tbody id="add_Detailrab"></tbody>
                                            <tr>
                                                <th colspan="3" style="text-align:right;vertical-align: middle;font-weight: bold;">JUMLAH INDEX</th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhbatupecah" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhbatublok" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhtanahurug" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhsirbang" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhsirug" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhgrosok" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhsirtu" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhkapurpasang" readonly></th>
                                                <th><input class="form-control" style="text-align:right;color:blue;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhtanahliat" readonly></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th colspan="3" style="text-align:right;vertical-align: middle;font-weight: bold;">TARIF</th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_batupecah'],2,',','.')?>" id="t_harga_batupecah" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_batublok'],2,',','.')?>" id="t_harga_batublok" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_tanahurug'],2,',','.')?>" id="t_harga_tanahurug" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_sirbang'],2,',','.')?>" id="t_harga_sirbang" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_sirug'],2,',','.')?>" id="t_harga_sirug" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_grosok'],2,',','.')?>" id="t_harga_grosok" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_sirtu'],2,',','.')?>" id="t_harga_sirtu" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_kapurpasang'],2,',','.')?>" id="t_harga_kapurpasang" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;" value="<?=number_format($tarifrab['s_harga_tanahliat'],2,',','.')?>" id="t_harga_tanahliat" readonly></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th colspan="3" style="text-align:right;vertical-align: middle;font-weight: bold;">JUMLAH DASAR PENGENAAN</th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_batupecah" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_batublok" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_tanahurug" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_sirbang" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_sirug" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_grosok" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_sirtu" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_kapurpasang" readonly></th>
                                                <th><input class="form-control" style="text-align:right;font-size: 8pt;color:blue;font-weight: bold;" value="<?=number_format(0,2,',','.')?>" id="t_jmlhdasar_tanahliat" readonly></th>
                                                <th></th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="table_wapunonrab" style="display: none;">
                            <div class="col-sm-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border" align="right">
                                        <span class="btn btn-sm btn-danger" id="tambahDetailnonrab" al><i class="glyph-icon icon-plus"></i> Tambah</span>
                                    </div>
                                    <div class="box-body table-responsive">
                                        <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                            <tr>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jenis</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Volume(m<sup>3</sup>)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Index</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tarif</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Pajak</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th>
                                            </tr>
                                            <?php
                                            $idn = 1;
                                            foreach (@$datadetailnonrab as $row_nonrab) {
                                                ?>
                                                <tr id="detailnonrabnode<?= $idn ?>">
                                                    <td style="width: 300px;">  
                                                        <input type="hidden" id="t_idnonrabminerba<?= $idn ?>" name="t_idnonrabminerba[]" value="<?= $row_nonrab['t_idnonrabminerba'] ?>">
                                                        <select name="t_idnonrab[]" id="t_idnonrab<?= $idn ?>" class="form-control rekening" onchange="caritarifnonrabminerba(<?= $idn ?>)">
                                                        <option value="">Silahkan Pilih</option>
                                                        <?php foreach (@$indexnonrabmineral as $row) { 
                                                            $selected_nonrab = ($row_nonrab['t_idnonrab']==$row['s_idnonrab']) ? 'selected' : '';
                                                            ?>
                                                            <option <?=$selected_nonrab?> value="<?= $row['s_idnonrab'] ?>"><?= $row['s_idnonrab'] . ' | ' . $row['s_jenisminerba'] ?></option>
                                                        <?php } ?>
                                                        </select>
                                                    </td>
                                                    <td><input class="form-control" value="<?= number_format($row_nonrab['t_volumenonrab'], 2, ',', '.') ?>" onchange="caritarifnonrabminerba(<?= $idn ?>)" onkeyup="caritarifnonrabminerba(<?= $idn ?>)" name="t_volumenonrab[]" id="t_volumenonrab<?= $idn ?>" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row_nonrab['t_indexnonrab'], 2, ',', '.') ?>"  onchange="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onblur="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onkeyup="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" name="t_indexnonrab[]" id="t_indexnonrab<?= $idn ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row_nonrab['t_jumlahnonrab'], 2, ',', '.') ?>"  onchange="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onblur="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onkeyup="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" name="t_jumlahnonrab[]" id="t_jumlahnonrab<?= $idn ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row_nonrab['t_tarifindexnonrab'], 2, ',', '.') ?>"  onchange="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onblur="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onkeyup="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" name="t_tarifindexnonrab[]" id="t_tarifindexnonrab<?= $idn ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row_nonrab['t_pajaknonrab'], 2, ',', '.') ?>"  onchange="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onblur="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" onkeyup="this.value = formatCurrency(this.value); caritarifnonrabminerba(<?= $idn ?>)" name="t_pajaknonrab[]" id="t_pajaknonrab<?= $idn ?>" readonly="true" style="text-align:right"></td>
                                                    <td><span class="btn btn-xs btn-danger" onclick="removetr(<?= $kk ?>)"><span class="glyph-icon icon-trash"></span></span></td>
                                                </tr>
                                                <?php
                                                $idn++;
                                            }
                                            ?>
                                            <input type="hidden" id="idn" value="<?=$idn++?>">
                                            <tbody id="add_Detailnonrab"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="table_nonwapu" style="display: none;">
                            <div class="col-sm-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border" align="right">
                                        <!--<span class="btn btn-sm btn-danger" id="tambahDetail" al><i class="glyph-icon icon-plus"></i> Tambah</span>-->
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                            <tr>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Rekening</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Volume</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Harga Pasaran</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tarif</th>         
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Pajak</th>
                                                <!--<th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th>-->
                                            </tr>
                                            <?php
                                            $kk = 1;
                                            foreach (@$datadetail as $row) {    
                                                ?>
                                                <tr id="detailnode<?= $kk ?>">
                                                    <td style="width: 300px;">  
                                                        <input type="hidden" id="t_idminerba<?= $kk ?>" name="t_idminerba[]" value="<?= $row['t_idminerba'] ?>">
                                                        <select name="t_idkorek" id="t_idkorek<?= $kk ?>" class="form-control rekening" onchange="caritarifminerba(<?= $kk ?>)">
                                                        <option value="">Silahkan Pilih</option>
                                                        <?php foreach ($subrek as $row1) { 
                                                            $selected_nonwapu = ($row['t_idkorek'] == $row1['s_idkorek']) ? 'selected' : '';
                                                            ?>
                                                                <option <?=$selected_nonwapu?> value="<?= $row1['s_idkorek'] ?>"><?= $row1['korek'] . ' | ' . $row1['s_namakorek'] . ' | ' . number_format($row1['s_tarifdasarkorek']) ?></option>
                                                        <?php } ?>
                                                        </select>
                                                    </td>
                                                    <td><input class="form-control" value="<?= $row['t_volume'] ?>" onchange="hitungpajakminerba(<?= $kk ?>)" name="t_volume[]" id="t_volume<?= $kk ?>" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row['t_hargapasaran'], 0, ',', '.') ?>" name="t_hargapasaran[]" id="t_hargapasaran<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row['t_jumlah'], 0, ',', '.') ?>" name="t_jumlah[]" id="t_jumlah<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= $row['t_tarifpersen'] ?>" name="t_tarifpersen[]" id="t_tarifpersen<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row['t_pajak'], 0, ',', '.') ?>" name="t_pajak[]" id="t_pajak<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <!--<td><span class="btn btn-xs btn-danger" onclick="removetr(<?= $kk ?>)"><span class="glyph-icon icon-trash"></span></span></td>-->
                                                </tr>
                                                <?php
                                                $kk++;
                                            }
                                            ?>
                                            <input type="hidden" id="idl" value="<?= $kk++ ?>">
                                            <tbody id="add_Detail"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Total Pajak (Rp.)</label>
                            <div class="col-sm-4">
                                <?= $this->formHidden($form->get("t_dasarpengenaan")) ?>
                                <?= $this->formText($form->get("t_jmlhpajak")) ?>
                                <span id="error_t_jmlhpajak" style="color : red; display:none;" ></span>
                            </div>
                            <button type="button" id="btn_nonwapu" class="btn btn-purple btn-md" onclick="hitungtotalpajakminerba()">
                                <i class="glyph-icon icon-calculator"></i> HITUNG
                            </button>
                            <button type="button" id="btn_wapurab" class="btn btn-purple btn-md" onclick="hitungJumlahIndex()">
                                <i class="glyph-icon icon-calculator"></i> HITUNG
                            </button>
                            <button type="button" id="btn_wapunonrab" class="btn btn-purple btn-md" onclick="hitungtotalpajaknonrabminerba()">
                                <i class="glyph-icon icon-calculator"></i> HITUNG
                            </button>
                        </div>
                    </div>
                    <div class="bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Pendataansubmit')) ?> 
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalRab" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Jenis RAB Minerba</b></h4>
            </div>
            <div class='modal-body'>
                <input type="hidden" id="inderab">
                <div>
                    <table class="table table-condensed table-bordered cf" style="font-size: 11px; color: black">
                        <thead class="cf">
                            <tr class="bg-blue">
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    No.
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Nama Jenis
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Pilihan
                                </th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="text" id="s_namajenis" class="form-control input-sm" onkeyup="calldataGridRab()">
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="listrab">
                        </tbody>
                        <tfoot>              
                            <tr>
                                <td colspan="4" class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                        <div class="col-sm-3">
                                            <a href="#" onclick="calldataGridRab(1);
                                                    return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                            <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                            <a href="#" onclick="calldataGridRab(2);
                                                    return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-overlay" tabindex="-1" aria-hidden="true" data-keyboard="false"
     style="text-align: center;width: 100%;">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<script>
    $('#Pendataansubmit').click(function () {
        var myForm = document.getElementById('demo-form');
        myForm.onsubmit = function () {
            var allInputs = myForm.getElementsByTagName('input');
            var input, i;

            for (i = 0; input = allInputs[i]; i++) {
                if (input.getAttribute('name') && !input.value) {
                    //input.setAttribute('name', '');

                } else {
                    jQuery('#modal-overlay').modal('show');
                }
            }
        };
    });
    
    
    if(<?=$jenisobjekwp?> == 1){
        
        if(<?=$golonganwapu?> == 1){
            document.getElementById("div_golwapu").style.display = "block";
            document.getElementById("table_wapurab").style.display = "none";
            document.getElementById("table_wapunonrab").style.display = "block";
            document.getElementById("table_nonwapu").style.display = "none";
            $('#btn_nonwapu').hide(); $('#btn_wapurab').hide(); $('#btn_wapunonrab').show();
        }else if(<?=$golonganwapu?> == 2){
            hitungJumlahIndex();
            document.getElementById("div_golwapu").style.display = "block";
            document.getElementById("table_wapurab").style.display = "block";
            document.getElementById("table_wapunonrab").style.display = "none";
            document.getElementById("table_nonwapu").style.display = "none";
            $('#btn_nonwapu').hide(); $('#btn_wapurab').show(); $('#btn_wapunonrab').hide();
        }else{
            document.getElementById("div_golwapu").style.display = "none";
            document.getElementById("table_wapurab").style.display = "none";
            document.getElementById("table_wapunonrab").style.display = "none";
            document.getElementById("table_nonwapu").style.display = "none";
            $('#btn_nonwapu').hide(); $('#btn_wapurab').hide(); $('#btn_wapunonrab').hide();
        }
        document.getElementById("div_kegiatan").style.display = "block";
        document.getElementById("div_keterangan").style.display = "block";
        $('#t_golonganwapu').attr('required', true);
        
    } else {
        document.getElementById("div_kegiatan").style.display = "none";
        document.getElementById("div_keterangan").style.display = "none";
        document.getElementById("div_golwapu").style.display = "none";
        document.getElementById("table_wapurab").style.display = "none";
        document.getElementById("table_wapunonrab").style.display = "none";
        document.getElementById("table_nonwapu").style.display = "block";
        
        $('#btn_nonwapu').show(); $('#btn_wapurab').hide(); $('#btn_wapunonrab').hide();
        $('#t_golonganwapu').removeAttr('required');
        $('#t_namakegiatan').removeAttr('required');
        
    }

    $('#t_jenisobjekwp').change(function () {
        var jenisobjekwp = $('#t_jenisobjekwp').val();
        
        if (jenisobjekwp == 1) {
            document.getElementById("div_kegiatan").style.display = "block";
            document.getElementById("div_keterangan").style.display = "block";
            document.getElementById("div_golwapu").style.display = "block";
            document.getElementById("table_wapurab").style.display = "none";
            document.getElementById("table_wapunonrab").style.display = "none";
            document.getElementById("table_nonwapu").style.display = "none";
            
            $('#t_golonganwapu').attr('required', true);
        } else {
            document.getElementById("div_kegiatan").style.display = "none";
            document.getElementById("div_keterangan").style.display = "none";
            document.getElementById("div_golwapu").style.display = "none";
            document.getElementById("table_wapurab").style.display = "none";
            document.getElementById("table_wapunonrab").style.display = "none";
            document.getElementById("table_nonwapu").style.display = "block";
            $('#btn_nonwapu').show(); $('#btn_wapurab').hide(); $('#btn_wapunonrab').hide();
            $('#t_golonganwapu').val('');
            $('#t_golonganwapu').removeAttr('required');
            $('#t_namakegiatan').removeAttr('required');
        }
    });
    
    $('#t_golonganwapu').change(function () {
        var golonganwapu = $('#t_golonganwapu').val();
        if(golonganwapu == 1){
            document.getElementById("table_wapurab").style.display = "none";
            document.getElementById("table_wapunonrab").style.display = "block";
            document.getElementById("table_nonwapu").style.display = "none";
            $('#btn_nonwapu').hide(); $('#btn_wapurab').hide(); $('#btn_wapunonrab').show();
        }else if(golonganwapu == 2){
            document.getElementById("table_wapurab").style.display = "block";
            document.getElementById("table_wapunonrab").style.display = "none";
            document.getElementById("table_nonwapu").style.display = "none";
            $('#btn_nonwapu').hide(); $('#btn_wapurab').show(); $('#btn_wapunonrab').hide();
        }else{
            document.getElementById("table_wapurab").style.display = "none";
            document.getElementById("table_wapunonrab").style.display = "none";
            document.getElementById("table_nonwapu").style.display = "none";
            $('#btn_nonwapu').hide(); $('#btn_wapurab').hide(); $('#btn_wapunonrab').hide();
        }
    });
    
    function calldataGridRab(direction) {
        dataGridRab($("#page").val(), $("#rows").val(), direction);
    }

    function dataGridRab(page, row, direction) {
        $.post('<?= $this->url() ?>/dataGridRabminerba/' + null + '/' + page + '/' + row + '/' + direction
            + '?namajenis=' + $("#s_namajenis").val()
            + "&inderab=" + $("#inderab").val()
        , function (data) {
            var aa = JSON.parse(data);
            $("#listrab").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
        });
    }

    function bukamodalRab(a) {
        $('#inderab').val(a);
        calldataGridRab();
        $('#modalRab').modal('show');
    }

    function pilihRab(a,b) {
        $.post('<?= $this->url() ?>/pilihRabminerba', {idrab: a}, function (data) {
            var aa = JSON.parse(data);
            $('#t_idrab' + b).val(aa.t_idrab);
            $('#t_jenisrab' + b).val(aa.t_jenisrab);
            $('#modalRab').modal('hide');
            hitungpajakrabminerba(b);
        });
    }
    
    function hitungpajakrabminerba(a){
        $.post('<?= $this->url() ?>/hitungpajakrabminerba', {
            t_idrab: $('#t_idrab' + a).val(),
            t_volumerab: $('#t_volumerab' + a).val()
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_batupecah' + a).val(aa.t_batupecah);
            $('#t_batublok' + a).val(aa.t_batublok);
            $('#t_tanahurug' + a).val(aa.t_tanahurug);
            $('#t_sirbang' + a).val(aa.t_sirbang);
            $('#t_sirug' + a).val(aa.t_sirug);
            $('#t_grosok' + a).val(aa.t_grosok);
            $('#t_sirtu' + a).val(aa.t_sirtu);
            $('#t_kapurpasang' + a).val(aa.t_kapurpasang);
            $('#t_tanahliat' + a).val(aa.t_tanahliat);
            
            hitungJumlahIndex();
        });
    }
    
    function caritarifnonrabminerba(a) {
        $.post('<?= $this->url() ?>/caritarifnonrabminerba', {
            t_idnonrab: $('#t_idnonrab' + a).val(),
            t_volumenonrab: $('#t_volumenonrab' + a).val()
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_indexnonrab' + a).val(aa.t_indexnonrab);
            $('#t_jumlahnonrab' + a).val(aa.t_jumlahnonrab);
            $('#t_tarifindexnonrab' + a).val(aa.t_tarifindexnonrab);
            $('#t_pajaknonrab' + a).val(aa.t_pajaknonrab);
            
            hitungtotalpajaknonrabminerba();
        });
    }

    function caritarifminerba(a) {
        $.post('<?= $this->url() ?>/caritarifminerba', {t_idkorek: $('#t_idkorek' + a).val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_hargapasaran' + a).val(aa.t_hargapasaran);
            $('#t_tarifpersen' + a).val(aa.t_tarifpersen);
            $('#t_tarifpajak').val(aa.t_tarifpersen);
        });
    }

    function hitungpajakminerba(a) {
        $.post('<?= $this->url() ?>/hitungpajakminerba', {t_volume: $('#t_volume' + a).val(), t_hargapasaran: $('#t_hargapasaran' + a).val(), t_tarifpersen: $('#t_tarifpersen' + a).val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_jumlah' + a).val(aa.t_jumlah);
            $('#t_pajak' + a).val(aa.t_pajak);
        });
        hitungtotalpajakminerba();
    }

    function hitungtotalpajakminerba() {
        $.post('<?= $this->url() ?>/hitungtotalpajakminerba', {t_tarifkenaikan: $('#t_tarifkenaikan').val(), t_pajak1: $('#t_pajak1').val(), t_pajak2: $('#t_pajak2').val(), t_pajak3: $('#t_pajak3').val(), t_pajak4: $('#t_pajak4').val(), t_pajak5: $('#t_pajak5').val(), t_pajak6: $('#t_pajak6').val(), t_pajak7: $('#t_pajak7').val(), t_pajak8: $('#t_pajak8').val(), t_pajak9: $('#t_pajak9').val(), t_pajak10: $('#t_pajak10').val()
            , t_jumlah1: $('#t_jumlah1').val(), t_jumlah2: $('#t_jumlah2').val(), t_jumlah3: $('#t_jumlah3').val(), t_jumlah4: $('#t_jumlah4').val(), t_jumlah5: $('#t_jumlah5').val(), t_jumlah6: $('#t_jumlah6').val(), t_jumlah7: $('#t_jumlah7').val(), t_jumlah8: $('#t_jumlah8').val(), t_jumlah9: $('#t_jumlah9').val(), t_jumlah10: $('#t_jumlah10').val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_dasarpengenaan').val(aa.t_dasarpengenaan);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
        });
    }
    
    function hitungtotalpajaknonrabminerba() {
        $.post('<?= $this->url() ?>/hitungtotalpajaknonrabminerba', {t_tarifkenaikan: $('#t_tarifkenaikan').val(), 
            t_pajak1: $('#t_pajaknonrab1').val(), t_pajak2: $('#t_pajaknonrab2').val(), t_pajak3: $('#t_pajaknonrab3').val(), 
            t_pajak4: $('#t_pajaknonrab4').val(), t_pajak5: $('#t_pajaknonrab5').val(), t_pajak6: $('#t_pajaknonrab6').val(), 
            t_pajak7: $('#t_pajaknonrab7').val(), t_pajak8: $('#t_pajaknonrab8').val(), t_pajak9: $('#t_pajaknonrab9').val()
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_dasarpengenaan').val(aa.t_dasarpengenaan);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
        });
    }
    
    $(document).ready(function () {
        $("#tambahDetailrab").click(function () {
            var idr = document.getElementById("idr").value;
            $("#add_Detailrab").append(
                    '<tr id="detailrabnode' + idr + '">' +
                    '<td>' +
                    '<input type="hidden" id="t_idrabminerba' + idr + '" name="t_idrabminerba[]">' +
                    '<input type="hidden" id="t_idrab' + idr + '" name="t_idrab[]">' +
                    '<input id="t_jenisrab' + idr + '" name="t_jenisrab[]" class="form-control" style="width: 80px;" readonly>' +
                    '</td>' +
                    '<td>' +
                    '<button type="button" class="btn btn-sm btn-warning" onclick="bukamodalRab('+ idr +')"><span class="glyph-icon icon-search"></span></button>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onkeyup="hitungpajakrabminerba(' + idr + ')" onchange="hitungpajakrabminerba(' + idr + ')" name="t_volumerab[]" id="t_volumerab' + idr + '">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_batupecah[]" id="t_batupecah' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_batublok[]" id="t_batublok' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_tanahurug[]" id="t_tanahurug' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_sirbang[]" id="t_sirbang' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_sirug[]" id="t_sirug' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_grosok[]" id="t_grosok' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_sirtu[]" id="t_sirtu' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_kapurpasang[]" id="t_kapurpasang' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onblur="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" onkeyup="this.value = formatCurrency(this.value); hitungpajakrabminerba(' + idr + ')" name="t_tanahliat[]" id="t_tanahliat' + idr + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<span class="btn btn-sm btn-danger" onclick="removerabtr(' + idr + ')"><span class="glyph-icon icon-trash"></span></span>' +
                    '</td>' +
                    '</tr>'
                    );
            idr = (idr - 1) + 2;
            document.getElementById("idr").value = idr;
        });
    });

    function removerabtr(a) {
        $("#detailrabnode" + a).remove();
    }
    
    function hitungJumlahIndex() {
        $.post('<?= $this->url() ?>/hitungjumlahindexminerba', {
            batupecah1: $('#t_batupecah1').val(),batupecah2: $('#t_batupecah2').val(),batupecah3: $('#t_batupecah3').val(),batupecah4: $('#t_batupecah4').val(),batupecah5: $('#t_batupecah5').val(),batupecah6: $('#t_batupecah6').val(),batupecah7: $('#t_batupecah7').val(),batupecah8: $('#t_batupecah8').val(),batupecah9: $('#t_batupecah9').val(),batupecah10: $('#t_batupecah10').val(),
			batupecah11: $('#t_batupecah11').val(),batupecah12: $('#t_batupecah12').val(),batupecah13: $('#t_batupecah13').val(),batupecah14: $('#t_batupecah14').val(),batupecah15: $('#t_batupecah15').val(),batupecah16: $('#t_batupecah16').val(),batupecah17: $('#t_batupecah17').val(),batupecah18: $('#t_batupecah18').val(),batupecah19: $('#t_batupecah19').val(),batupecah20: $('#t_batupecah20').val(),
            batublok1: $('#t_batublok1').val(),batublok2: $('#t_batublok2').val(),batublok3: $('#t_batublok3').val(),batublok4: $('#t_batublok4').val(),batublok5: $('#t_batublok5').val(),batublok6: $('#t_batublok6').val(),batublok7: $('#t_batublok7').val(),batublok8: $('#t_batublok8').val(),batublok9: $('#t_batublok9').val(),batublok10: $('#t_batublok10').val(),
			batublok11: $('#t_batublok11').val(),batublok12: $('#t_batublok12').val(),batublok13: $('#t_batublok13').val(),batublok14: $('#t_batublok14').val(),batublok15: $('#t_batublok15').val(),batublok16: $('#t_batublok16').val(),batublok17: $('#t_batublok17').val(),batublok18: $('#t_batublok18').val(),batublok19: $('#t_batublok19').val(),batublok20: $('#t_batublok20').val(),
            tanahurug1: $('#t_tanahurug1').val(),tanahurug2: $('#t_tanahurug2').val(),tanahurug3: $('#t_tanahurug3').val(),tanahurug4: $('#t_tanahurug4').val(),tanahurug5: $('#t_tanahurug5').val(),tanahurug6: $('#t_tanahurug6').val(),tanahurug7: $('#t_tanahurug7').val(),tanahurug8: $('#t_tanahurug8').val(),tanahurug9: $('#t_tanahurug9').val(),tanahurug10: $('#t_tanahurug10').val(),
			tanahurug11: $('#t_tanahurug11').val(),tanahurug12: $('#t_tanahurug12').val(),tanahurug13: $('#t_tanahurug13').val(),tanahurug14: $('#t_tanahurug14').val(),tanahurug15: $('#t_tanahurug15').val(),tanahurug16: $('#t_tanahurug16').val(),tanahurug17: $('#t_tanahurug17').val(),tanahurug18: $('#t_tanahurug18').val(),tanahurug19: $('#t_tanahurug19').val(),tanahurug20: $('#t_tanahurug20').val(),
            sirbang1: $('#t_sirbang1').val(),sirbang2: $('#t_sirbang2').val(),sirbang3: $('#t_sirbang3').val(),sirbang4: $('#t_sirbang4').val(),sirbang5: $('#t_sirbang5').val(),sirbang6: $('#t_sirbang6').val(),sirbang7: $('#t_sirbang7').val(),sirbang8: $('#t_sirbang8').val(),sirbang9: $('#t_sirbang9').val(),sirbang10: $('#t_sirbang10').val(),
			sirbang11: $('#t_sirbang11').val(),sirbang12: $('#t_sirbang12').val(),sirbang13: $('#t_sirbang13').val(),sirbang14: $('#t_sirbang14').val(),sirbang15: $('#t_sirbang15').val(),sirbang16: $('#t_sirbang16').val(),sirbang17: $('#t_sirbang17').val(),sirbang18: $('#t_sirbang18').val(),sirbang19: $('#t_sirbang19').val(),sirbang20: $('#t_sirbang20').val(),
            sirug1: $('#t_sirug1').val(),sirug2: $('#t_sirug2').val(),sirug3: $('#t_sirug3').val(),sirug4: $('#t_sirug4').val(),sirug5: $('#t_sirug5').val(),sirug6: $('#t_sirug6').val(),sirug7: $('#t_sirug7').val(),sirug8: $('#t_sirug8').val(),sirug9: $('#t_sirug9').val(),sirug10: $('#t_sirug10').val(),
			sirug11: $('#t_sirug11').val(),sirug12: $('#t_sirug12').val(),sirug13: $('#t_sirug13').val(),sirug14: $('#t_sirug14').val(),sirug15: $('#t_sirug15').val(),sirug16: $('#t_sirug16').val(),sirug17: $('#t_sirug17').val(),sirug18: $('#t_sirug18').val(),sirug19: $('#t_sirug19').val(),sirug20: $('#t_sirug20').val(),
            grosok1: $('#t_grosok1').val(),grosok2: $('#t_grosok2').val(),grosok3: $('#t_grosok3').val(),grosok4: $('#t_grosok4').val(),grosok5: $('#t_grosok5').val(),grosok6: $('#t_grosok6').val(),grosok7: $('#t_grosok7').val(),grosok8: $('#t_grosok8').val(),grosok9: $('#t_grosok9').val(),grosok10: $('#t_grosok10').val(),
			grosok11: $('#t_grosok11').val(),grosok12: $('#t_grosok12').val(),grosok13: $('#t_grosok13').val(),grosok14: $('#t_grosok14').val(),grosok15: $('#t_grosok15').val(),grosok16: $('#t_grosok16').val(),grosok17: $('#t_grosok17').val(),grosok18: $('#t_grosok18').val(),grosok19: $('#t_grosok19').val(),grosok20: $('#t_grosok20').val(),
            sirtu1: $('#t_sirtu1').val(),sirtu2: $('#t_sirtu2').val(),sirtu3: $('#t_sirtu3').val(),sirtu4: $('#t_sirtu4').val(),sirtu5: $('#t_sirtu5').val(),sirtu6: $('#t_sirtu6').val(),sirtu7: $('#t_sirtu7').val(),sirtu8: $('#t_sirtu8').val(),sirtu9: $('#t_sirtu9').val(),sirtu10: $('#t_sirtu10').val(),
			sirtu11: $('#t_sirtu11').val(),sirtu12: $('#t_sirtu12').val(),sirtu13: $('#t_sirtu13').val(),sirtu14: $('#t_sirtu14').val(),sirtu15: $('#t_sirtu15').val(),sirtu16: $('#t_sirtu16').val(),sirtu17: $('#t_sirtu17').val(),sirtu18: $('#t_sirtu18').val(),sirtu19: $('#t_sirtu19').val(),sirtu20: $('#t_sirtu20').val(),
            kapurpasang1: $('#t_kapurpasang1').val(),kapurpasang2: $('#t_kapurpasang2').val(),kapurpasang3: $('#t_kapurpasang3').val(),kapurpasang4: $('#t_kapurpasang4').val(),kapurpasang5: $('#t_kapurpasang5').val(),kapurpasang6: $('#t_kapurpasang6').val(),kapurpasang7: $('#t_kapurpasang7').val(),kapurpasang8: $('#t_kapurpasang8').val(),kapurpasang9: $('#t_kapurpasang9').val(),kapurpasang10: $('#t_kapurpasang10').val(),
			kapurpasang11: $('#t_kapurpasang11').val(),kapurpasang12: $('#t_kapurpasang12').val(),kapurpasang13: $('#t_kapurpasang13').val(),kapurpasang14: $('#t_kapurpasang14').val(),kapurpasang15: $('#t_kapurpasang15').val(),kapurpasang16: $('#t_kapurpasang16').val(),kapurpasang17: $('#t_kapurpasang17').val(),kapurpasang18: $('#t_kapurpasang18').val(),kapurpasang19: $('#t_kapurpasang19').val(),kapurpasang20: $('#t_kapurpasang20').val(),
            tanahliat1: $('#t_tanahliat1').val(),tanahliat2: $('#t_tanahliat2').val(),tanahliat3: $('#t_tanahliat3').val(),tanahliat4: $('#t_tanahliat4').val(),tanahliat5: $('#t_tanahliat5').val(),tanahliat6: $('#t_tanahliat6').val(),tanahliat7: $('#t_tanahliat7').val(),tanahliat8: $('#t_tanahliat8').val(),tanahliat9: $('#t_tanahliat9').val(),tanahliat10: $('#t_tanahliat10').val(),
			tanahliat11: $('#t_tanahliat11').val(),tanahliat12: $('#t_tanahliat12').val(),tanahliat13: $('#t_tanahliat13').val(),tanahliat14: $('#t_tanahliat14').val(),tanahliat15: $('#t_tanahliat15').val(),tanahliat16: $('#t_tanahliat16').val(),tanahliat17: $('#t_tanahliat17').val(),tanahliat18: $('#t_tanahliat18').val(),tanahliat19: $('#t_tanahliat19').val(),tanahliat20: $('#t_tanahliat20').val(),
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhbatupecah').val(aa.t_jmlhbatupecah);
            $('#t_jmlhdasar_batupecah').val(aa.t_jmlhdasar_batupecah);
            $('#t_jmlhbatublok').val(aa.t_jmlhbatublok);
            $('#t_jmlhdasar_batublok').val(aa.t_jmlhdasar_batublok);
            $('#t_jmlhtanahurug').val(aa.t_jmlhtanahurug);
            $('#t_jmlhdasar_tanahurug').val(aa.t_jmlhdasar_tanahurug);
            $('#t_jmlhsirbang').val(aa.t_jmlhsirbang);
            $('#t_jmlhdasar_sirbang').val(aa.t_jmlhdasar_sirbang);
            $('#t_jmlhsirug').val(aa.t_jmlhsirug);
            $('#t_jmlhdasar_sirug').val(aa.t_jmlhdasar_sirug);
            $('#t_jmlhgrosok').val(aa.t_jmlhgrosok);
            $('#t_jmlhdasar_grosok').val(aa.t_jmlhdasar_grosok);
            $('#t_jmlhsirtu').val(aa.t_jmlhsirtu);
            $('#t_jmlhdasar_sirtu').val(aa.t_jmlhdasar_sirtu);
            $('#t_jmlhkapurpasang').val(aa.t_jmlhkapurpasang);
            $('#t_jmlhdasar_kapurpasang').val(aa.t_jmlhdasar_kapurpasang);
            $('#t_jmlhtanahliat').val(aa.t_jmlhtanahliat);
            $('#t_jmlhdasar_tanahliat').val(aa.t_jmlhdasar_tanahliat);
            
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
        });
    }
	
	$(document).ready(function () {
        $("#tambahDetailnonrab").click(function () {
            var idn = document.getElementById("idn").value;
            $("#add_Detailnonrab").append(
                    '<tr id="detailnonrabnode' + idn + '">' +
                    '<td>' +
                    '<input type="hidden" id="t_idnonrabminerba' + idn + '" name="t_idnonrabminerba[]">' +
                    '<select name="t_idnonrab[]" id="t_idnonrab' + idn + '" class="form-control rekening" onchange="caritarifnonrabminerba(' + idn + ')">' +
                    '<option value="">Silahkan Pilih</option>' +
                    <?php foreach (@$indexnonrabmineral as $row) { ?>
                        '<option value="<?= $row['s_idnonrab'] ?>"><?= $row['s_idnonrab'] . ' | ' . $row['s_jenisminerba'] ?></option> ' +
                    <?php } ?>
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onkeyup="caritarifnonrabminerba(' + idn + ')" onchange="caritarifnonrabminerba(' + idn + ')" name="t_volumenonrab[]" id="t_volumenonrab' + idn + '">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); caritarifnonrabminerba(' + idn + ')" onblur="this.value = formatCurrency(this.value); caritarifnonrabminerba(' + idn + ')" onkeyup="this.value = formatCurrency(this.value); caritarifnonrabminerba(' + idn + ')" name="t_indexnonrab[]" id="t_indexnonrab' + idn + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_jumlahnonrab[]" id="t_jumlahnonrab' + idn + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_tarifindexnonrab[]" id="t_tarifindexnonrab' + idn + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_pajaknonrab[]" id="t_pajaknonrab' + idn + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<span class="btn btn-xs btn-danger" onclick="removenonrabtr(' + idn + ')"><span class="glyph-icon icon-trash"></span></span>' +
                    '</td>' +
                    '</tr>'
                    );
            idn = (idn - 1) + 2;
            document.getElementById("idn").value = idn;
        });
    });

    function removenonrabtr(a) {
        $("#detailnonrabnode" + a).remove();
    }
    

    $(document).ready(function () {
        $("#tambahDetail").click(function () {
            var idl = document.getElementById("idl").value;
            $("#add_Detail").append(
                    '<tr id="detailnode' + idl + '">' +
                    '<td>' +
                    '<input type="hidden" id="t_idminerba' + idl + '" name="t_idminerba[]">' +
                    '<select name="t_idkorek[]" id="t_idkorek' + idl + '" class="form-control rekening" onchange="caritarifminerba(' + idl + ')">' +
                    '<option value="">Silahkan Pilih</option>' +
                    <?php foreach ($subrek as $row) { ?>
                            '<option value="<?= $row['s_idkorek'] ?>"><?= $row['korek'] . ' | ' . $row['s_namakorek'] . ' | ' . number_format($row['s_tarifdasarkorek']) ?></option>' +
                    <?php } ?>
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onchange="hitungpajakminerba(' + idl + ')" name="t_volume[]" id="t_volume' + idl + '">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakminerba(' + idl + ')" onblur="this.value = formatCurrency(this.value); hitungpajakminerba(' + idl + ')" onkeyup="this.value = formatCurrency(this.value);hitungpajakminerba(' + idl + ')" name="t_hargapasaran[]" id="t_hargapasaran' + idl + '" >' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_jumlah[]" id="t_jumlah' + idl + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_tarifpersen[]" id="t_tarifpersen' + idl + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_pajak[]" id="t_pajak' + idl + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span></span>' +
                    '</td>' +
                    '</tr>'
                    );
            idl = (idl - 1) + 2;    
            document.getElementById("idl").value = idl;
        });
    });

    function removetr(a) {
        $("#detailnode" + a).remove();
    }

    
    $('#t_masaawal').change(function () {
        $.post('<?= $this->url() ?>/hitungtgl', {t_masaawal: $('#t_masaawal').val()}, function (data) {
            var aa = JSON.parse(data);
            $("#t_masaakhir").val(aa.t_masaakhir);
            $("#t_masaawal").val(aa.t_masaawal);
        });
    });

</script>