<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pagereklame');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyph-icon icon-pencil"></i>
                    Pendataan <?= $datapendaftaran['s_namajenis'] ?><b class="blink" style="font-size: 12px; color: red"><?= $message ?></b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-12 center-div">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:center; background:black; border-radius: 25px; color: orange; padding: 5px 15px 5px 15px; font-size: 16px; font-weight:bolder">NPWPD : <?= $datapendaftaran['t_npwpd'] ?> / NIOP : <?= $datapendaftaran['t_nop'] ?></span>
                        </div>
                    </div>
                    <?= $this->form()->openTag($form) ?>
                    <div class="col-md-6">

                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data WP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIK</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nik'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nama'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data OP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIOP</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nop'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_namaobjek'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamatobjek'] ?>
                                            ,RT. <?= $datapendaftaran['t_rtobjek'] ?>
                                            ,RW. <?= $datapendaftaran['t_rwobjek'] ?>
                                            ,Desa/Kel. <?= $datapendaftaran['s_namakelobjek'] ?>
                                            ,Kec. <?= $datapendaftaran['s_namakecobjek'] ?>
                                            ,Kab. <?= $datapendaftaran['t_kabupatenobjek'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Histori Pajak</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="datatransaksi"></div>
                        </div>
                    </div>
                    <div class="row pad10B">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Pendataan</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- <label class="col-sm-2 control-label">Nomor Urut</label> -->
                            <div class="col-sm-2">
                                <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                                <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                <?= $this->formHidden($form->get("t_iddetailreklame")) ?>
                                <?= $this->formHidden($form->get("t_idobjek")) ?>
                                <?= $this->formHidden($form->get("t_jenispajak")) ?>
                                <?= $this->formHidden($form->get("t_nourut")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Periode Pajak</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_periodepajak")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tanggal Pendataan</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_tglpendataan")) ?>
                                </div>
                            </div>
                        </div> 
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Masa Pajak</label>
                            <div class="col-sm-5">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_masaawal")) ?>
                                    <span class="input-group-addon" style="background-color: #EEEEEE"><b>s/d</b></span>
                                    <?= $this->formText($form->get("t_masaakhir")) ?>
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Kode Rekening</label>
                            <div class="col-sm-2">
                                <?= $this->formHidden($form->get("t_idkorek")) ?>
                                <?= $this->formText($form->get("t_korek")) ?>
                            </div>
                            <div class="col-sm-1"><button type="button" class="btn btn-sm btn-primary" onclick="bukamodalRekening()"><span class="glyph-icon icon-search"></span></button></div> 
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Nama Rekening</label>
                            <div class="col-sm-6">
                                <?= $this->formText($form->get("t_namakorek")) ?>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <span class="btn btn-sm btn-success" id="tambahDetail" al><i class="glyph-icon icon-plus-square-o"></i> TAMBAH JENIS REKLAME</span>
                                </div>
                                <div class="box-body">
                                    <?php
                                    $idl = 1;
                                    foreach (@$datadetail as $row) {
                                       $selectedSisi1 = ($row['t_sudutpandang'] == 1) ? 'selected' : '';
                                       $selectedSisi2 = ($row['t_sudutpandang'] == 2) ? 'selected' : '';
                                       $selectedSisi3 = ($row['t_sudutpandang'] == 3) ? 'selected' : '';
                                       $selectedSisi4 = ($row['t_sudutpandang'] == 4) ? 'selected' : '';
                                       
                                       echo '<div style="border-bottom: 1px solid red; margin-bottom: 10px;" id="detailnode' . $idl . '">
                                        <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Jenis Reklame</label>
                                                <div class="col-sm-6">
                                                    <select onchange="caritarifreklame(' .$idl. ')" name="t_jenisreklame[]" id="t_jenisreklame' .$idl. '" class="form-control" required="true">
                                                        <option value="">Silahkan Pilih</option>';
                                                        foreach ($ar_jenisreklame as $vRow) {
                                                            $selected = ($vRow['s_idtarif'] == $row['t_jenisreklame']) ? 'selected' : '';
                                                            echo '<option '.$selected.' value="'.$vRow['s_idtarif'].'">'.$vRow['s_namajenis'].'</option>';
                                                        }
                                                    echo '</select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Judul</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="t_naskah[]" id="t_naskah' .$idl. '" class="form-control" required="true" value="'.$row['t_naskah'].'">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Lokasi</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="t_lokasi[]" id="t_lokasi' .$idl. '" class="form-control" required="true" value="'.$row['t_lokasi'].'">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Panjang (m)</label>
                                                <div class="col-sm-1">
                                                    <input type="text" onkeyup="hitungpajakreklame(' .$idl. ')" name="t_panjang[]" id="t_panjang' .$idl. '" class="form-control text-right" required="true"  value="'.$row['t_panjang'].'">
                                                </div>
                                                <label class="col-sm-1 control-label">Lebar (m)</label>
                                                <div class="col-sm-1">
                                                    <input type="text" onkeyup="hitungpajakreklame(' .$idl. ')" name="t_lebar[]" id="t_lebar' .$idl. '" class="form-control text-right" required="true"  value="'.$row['t_lebar'].'">
                                                </div>
                                                <label class="col-sm-1 control-label">Luas (m<sup>2</sup>)</label>
                                                <div class="col-sm-1">
                                                    <input type="text" onkeyup="hitungpajakreklame(' .$idl. ')" name="t_luas[]" id="t_luas' .$idl. '" class="form-control text-right" readonly="true" required="true"  value="'.number_format($row['t_panjang']*$row['t_lebar'],2,',','.').'">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Sudut Pandang</label>
                                                <div class="col-sm-2">
                                                    <select onchange="hitungpajakreklame(' .$idl. ')" name="t_sudutpandang[]" id="t_sudutpandang' .$idl. '" class="form-control" required="true">
                                                        <option value="">Silahkan Pilih</option>
                                                        <option '.$selectedSisi1.' value="1">1 || Satu</option>
                                                        <option '.$selectedSisi2.' value="2">2 || Dua</option>
                                                        <option '.$selectedSisi3.' value="3">3 || Tiga</option>
                                                        <option '.$selectedSisi4.' value="4">4 || Empat</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Jumlah Reklame</label>
                                                <div class="col-sm-1">
                                                    <input type="text" onkeyup="hitungpajakreklame(' .$idl. ')" name="t_jmlhreklame[]" id="t_jmlhreklame' .$idl. '" class="form-control" required="true" value="'.$row['t_jumlah'].'">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Masa Reklame</label>
                                                <div class="col-sm-1">
                                                    <input type="text" onkeyup="hitungpajakreklame(' .$idl. ')" name="t_masareklame[]" id="t_masareklame' .$idl. '" class="form-control" required="true" value="'.$row['t_jangkawaktu'].'">
                                                    <input type="hidden" name="t_tipewaktu[]" id="t_tipewaktu' .$idl. '" value="'.$row['t_tipewaktu'].'">
                                                </div>
                                                <label class="col-sm-1 control-label text-primary font-size-14" id="labelTermin' .$idl. '">'.$row['t_tipewaktu'].'</label>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">NSR</label>
                                                <div class="col-sm-2">
                                                    <input type="text" name="t_nsr[]" id="t_nsr' .$idl. '" class="form-control text-right" readonly="true" required="true" value="'.number_format($row['t_nsr'],0,',','.').'">
                                                </div>
                                                <label class="col-sm-2 control-label">Tarif (%)</label>
                                                <div class="col-sm-1">
                                                    <input type="text" name="t_tarifpajak[]" id="t_tarifpajak' .$idl. '" class="form-control" readonly="true" required="true" value="'.number_format($row['t_tarifreklame'],0,',','.').'" >
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 control-label">Jumlah Pajak</label>
                                                <div class="col-sm-3">
                                                    <input type="text" name="t_jmlhpajaksub[]" id="t_jmlhpajaksub' .$idl. '" class="form-control" readonly="true" required="true" value="'.number_format($row['t_jmlhpajaksub'],0,',','.').'">
                                                </div>
                                            </div>
                                        <div align="right" style="margin-bottom:5px;">
                                        <span class="btn btn-xs btn-danger" onclick="removetr(' .$idl. ')"><span class="glyph-icon icon-trash"></span> HAPUS</span>
                                        </div>
                                        </div>'; 
                                       $idl++;
                                    }?>
                                    <input type="hidden" id="idl" value="<?=$idl++?>">
                                    <div id="add_Detail"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Total Pajak</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_jmlhpajak")) ?>
                                <span id="error_t_jmlhpajak" style="color : red; display:none;" ></span>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-md btn-purple" onclick="hitungTotalJumlahPajakReklame()">
                                    <i class="glyph-icon icon-calculator"></i> HITUNG
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Pendataansubmit')) ?> 
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRekening" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Data Rekening</b></h4>
            </div>
            <div class='modal-body'>
                <input type="hidden" id="t_jenisobjek" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                <div>
                    <table class="table table-condensed table-bordered cf" style="font-size: 11px; color: black">
                        <thead class="cf">
                            <tr class="bg-blue">
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Kode Rekening
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Nama Rekening
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Tarif
                                </th>
                                <th style="background-color: #00BCA4; color: white; text-align: center">
                                    Pilihan
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="korek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                </td>
                                <td>
                                    <input type="text" id="s_namakorek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                </td>
                                <td>
                                    <input type="text" id="s_persentarifkorek" class="form-control input-sm" onkeyup="calldataGridRekening()">
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="listrekening">
                        </tbody>
                        <tfoot>              
                            <tr>
                                <td colspan="4" class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                        <div class="col-sm-3">
                                            <a href="#" onclick="calldataGridRekening(1);
                                                    return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                            <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                            <a href="#" onclick="calldataGridRekening(2);
                                                    return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>                                    
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-overlay" tabindex="-1" aria-hidden="true" data-keyboard="false"
     style="text-align: center;width: 100%;">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<script>
    $('#Pendataansubmit').click(function () {
        var myForm = document.getElementById('demo-form');
        myForm.onsubmit = function () {
            var allInputs = myForm.getElementsByTagName('input');
            var input, i;

            for (i = 0; input = allInputs[i]; i++) {
                if (input.getAttribute('name') && !input.value) {
                    //input.setAttribute('name', '');

                } else {
                    jQuery('#modal-overlay').modal('show');
                }
            }
        };
    });

    $(document).ready(function () {
        $("#tambahDetail").click(function () {
            if($("#t_korek").val() == ''){
                alert('Silahkan Pilih Kode Rekening Terlebih dahulu!');
            }else{
                var idl = document.getElementById("idl").value;
                comboJenisReklame(idl);
                $("#add_Detail").append(
                        '<div style="border-bottom: 1px solid red; margin-bottom: 10px;" id="detailnode' + idl + '">' +
                        '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Jenis Reklame</label>' +
                                '<div class="col-sm-6">' +
                                    '<select onchange="caritarifreklame(' + idl + ')" name="t_jenisreklame[]" id="t_jenisreklame' + idl + '" class="form-control" required="true">' +
                                        '<option value="">Silahkan Pilih</option>' +
                                    '</select>' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Judul</label>' +
                                '<div class="col-sm-6">' +
                                    '<input type="text" name="t_naskah[]" id="t_naskah' + idl + '" class="form-control" required="true">' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Lokasi</label>' +
                                '<div class="col-sm-6">' +
                                    '<input type="text" name="t_lokasi[]" id="t_lokasi' + idl + '" class="form-control" required="true">' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Panjang (m)</label>' +
                                '<div class="col-sm-1">' +
                                    '<input type="text" onkeyup="hitungpajakreklame(' + idl + ')" name="t_panjang[]" id="t_panjang' + idl + '" class="form-control text-right" required="true" value="0">' +
                                '</div>' +
                                '<label class="col-sm-1 control-label">Lebar (m)</label>' +
                                '<div class="col-sm-1">' +
                                    '<input type="text" onkeyup="hitungpajakreklame(' + idl + ')" name="t_lebar[]" id="t_lebar' + idl + '" class="form-control text-right" required="true" value="0">' +
                                '</div>' +
                                '<label class="col-sm-1 control-label">Luas (m<sup>2</sup>)</label>' +
                                '<div class="col-sm-1">' +
                                    '<input type="text" onkeyup="hitungpajakreklame(' + idl + ')" name="t_luas[]" id="t_luas' + idl + '" class="form-control text-right" readonly="true" required="true" value="0">' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Sudut Pandang</label>' +
                                '<div class="col-sm-2">' +
                                    '<select onchange="hitungpajakreklame(' + idl + ')" name="t_sudutpandang[]" id="t_sudutpandang' + idl + '" class="form-control" required="true">' +
                                        '<option value="">Silahkan Pilih</option>' +
                                        '<option value="1">1 || Satu</option>' +
                                        '<option value="2">2 || Dua</option>' +
                                        '<option value="3">3 || Tiga</option>' +
                                        '<option value="4">4 || Empat</option>' +
                                    '</select>' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Jumlah Reklame</label>' +
                                '<div class="col-sm-1">' +
                                    '<input type="text" onkeyup="hitungpajakreklame(' + idl + ')" name="t_jmlhreklame[]" id="t_jmlhreklame' + idl + '" class="form-control" required="true" value="1">' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Masa Reklame</label>' +
                                '<div class="col-sm-1">' +
                                    '<input type="text" onkeyup="hitungpajakreklame(' + idl + ')" name="t_masareklame[]" id="t_masareklame' + idl + '" class="form-control" required="true" value="1">' +
                                    '<input type="hidden" name="t_tipewaktu[]" id="t_tipewaktu' + idl + '">' +
                                '</div>' +
                                '<label class="col-sm-1 control-label text-primary font-size-14" id="labelTermin' + idl + '"></label>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">NSR</label>' +
                                '<div class="col-sm-2">' +
                                    '<input type="text" name="t_nsr[]" id="t_nsr' + idl + '" class="form-control text-right" readonly="true" required="true">' +
                                '</div>' +
                                '<label class="col-sm-2 control-label">Tarif (%)</label>' +
                                '<div class="col-sm-1">' +
                                    '<input type="text" name="t_tarifpajak[]" id="t_tarifpajak' + idl + '" class="form-control" readonly="true" required="true">' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-sm-12">' +
                                '<label class="col-sm-2 control-label">Jumlah Pajak</label>' +
                                '<div class="col-sm-3">' +
                                    '<input type="text" name="t_jmlhpajaksub[]" id="t_jmlhpajaksub' + idl + '" class="form-control" readonly="true" required="true">' +
                                '</div>' +
                            '</div>' +
                        '<div align="right" style="margin-bottom:5px;">' +
                        '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span> HAPUS</span>' +
                        '</div>' +
                        '</div>'
                        );
                idl = (idl - 1) + 2;
                document.getElementById("idl").value = idl;
            }
        });
    });

    function removetr(a) {
        $("#detailnode" + a).remove();
    }
    
    function comboJenisReklame(a){
        $.post('<?= $this->url() ?>/comboJenisReklame', {t_idkorek: $("#t_idkorek").val() }, function (data) {
            var aa = JSON.parse(data);
            $('#t_jenisreklame' + a).html(aa.res);
        });
    }
    
    function caritarifreklame(a) {
        $.post('<?= $this->url() ?>/caritarifreklame', {t_jenisreklame: $('#t_jenisreklame' + a).val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_nsr' + a).val(aa.t_tarif);
            $('#t_tarifpajak' + a).val(aa.t_tarifpajak);
            $('#t_tipewaktu' + a).val(aa.t_termin);
            $('#labelTermin' + a).html(aa.t_termin);
        });
        hitungpajakreklame(a);
    }

    function calldataGridRekening(direction) {
        dataGridRekening($("#page").val(), $("#rows").val(), direction);
    }

    function dataGridRekening(page, row, direction) {
        $.post('<?= $this->url() ?>/dataGridRekening/' + null + '/' + page + '/' + row + '/' + direction
                + '?korek=' + $("#korek").val()
                + "&s_namakorek=" + $("#s_namakorek").val()
                + "&s_persentarifkorek=" + $("#s_persentarifkorek").val()
                + "&t_jenisobjek=" + $("#t_jenisobjek").val()
                + "&s_idkorek=" + $("#t_idkorek").val()
                , function (data) {
                    var aa = JSON.parse(data);
                    $("#listrekening").html(aa.grid);
                    $("#rows").val(aa.rows);
                    $("#page").val(aa.page);
                    $("#total_data").html(": " + aa.count);
                    $("#total_halaman").html(": " + aa.total_halaman);
                });
    }

    function bukamodalRekening() {
        calldataGridRekening();
        $('#modalRekening').modal('show');
    }

    function pilihRekening(a) {
        $.post('<?= $this->url() ?>/pilihRekening', {s_idkorek: a}, function (data) {
            var aa = JSON.parse(data);
            $('#t_idkorek').val(aa.t_idkorek);
            $('#t_korek').val(aa.t_korek);
            $('#t_tarifpajak').val(aa.t_tarifpajak);
            $('#t_namakorek').val(aa.t_namakorek);
            $('#modalRekening').modal('hide');
        });
    }


    function hitungpajakreklame(id) {
        $.post('<?= $this->url() ?>/hitungpajakreklame', {
            t_jenisreklame: $("#t_jenisreklame" + id).val(),
            t_panjang: $("#t_panjang" + id).val(),
            t_lebar: $("#t_lebar" + id).val(),
            t_sudutpandang: $("#t_sudutpandang" + id).val(),
            t_jmlhreklame: $("#t_jmlhreklame" + id).val(),
            t_masareklame: $('#t_masareklame' + id).val()
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajaksub' + id).val(aa.t_jmlhpajak);
            $('#t_luas' + id).val(aa.t_luas);
            
            hitungTotalJumlahPajakReklame();
        });
    }
    
    function hitungTotalJumlahPajakReklame()
    {
        let total = 0;
        let maxidl = $('#idl').val();
        for (let index = 1; index < maxidl; index++) {
            var strnum = $('#t_jmlhpajaksub' + index).val();
            var Re = new RegExp("\\.", "g");
            totalpernode = strnum.replace(Re, "");

            total += Number(totalpernode);
        }
        $('#t_jmlhpajak').val(format(String(total)));
    }

    function format(str) {
        var length = 3,
                separator = ".",
                count = 0,
                result = str.split('').reduceRight((a, c) => {
            if (count === length) {
                a.push(separator);
                count = 1;
            } else
                count++;
            a.push(c);
            return a;
        }, []).reverse().join('');
        return result;
    }

    $(function () {
        CariPendataanReklameByObjek();
    });
    function CariPendataanReklameByObjek() {
        $.post('<?= $this->url() ?>/CariPendataanReklameByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }

</script>