<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pagereklame');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class="glyph-icon icon-pencil"></i>
                    Pendataan <?= $datapendaftaran['s_namajenis'] ?><b class="blink" style="font-size: 12px; color: red"><?= $message ?></b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-12 center-div">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align:center; background:black; border-radius: 25px; color: orange; padding: 5px 15px 5px 15px; font-size: 16px; font-weight:bolder">NPWPD : <?= $datapendaftaran['t_npwpd'] ?> / NIOP : <?= $datapendaftaran['t_nop'] ?></span>
                        </div>
                    </div>
                    <?= $this->form()->openTag($form) ?>
                    <div class="col-md-6">

                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data WP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIK</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nik'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nama'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-success">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-database"></i>
                                </span>
                                <span class="header-wrapper">
                                    Data OP
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class='row'>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">NIOP</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_nop'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Nama</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_namaobjek'] ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-sm-2">Alamat</label>
                                        <div class="col-sm-10">
                                            : <?= $datapendaftaran['t_alamatobjek'] ?>
                                            ,RT. <?= $datapendaftaran['t_rtobjek'] ?>
                                            ,RW. <?= $datapendaftaran['t_rwobjek'] ?>
                                            ,Desa/Kel. <?= $datapendaftaran['s_namakelobjek'] ?>
                                            ,Kec. <?= $datapendaftaran['s_namakecobjek'] ?>
                                            ,Kab. <?= $datapendaftaran['t_kabupatenobjek'] ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Histori Pajak</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="datatransaksi"></div>
                        </div>
                    </div>
                    <div class="row pad10B">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Pendataan</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- <label class="col-sm-2 control-label">Nomor Urut</label> -->
                            <div class="col-sm-2">
                                <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                                <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                <?= $this->formHidden($form->get("t_iddetailreklame")) ?>
                                <?= $this->formHidden($form->get("t_idobjek")) ?>
                                <?= $this->formHidden($form->get("t_jenispajak")) ?>
                                <?= $this->formHidden($form->get("t_nourut")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Periode Pajak</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_periodepajak")) ?>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tanggal Pendataan</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_tglpendataan")) ?>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Tgl. Penetapan</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_tglpenetapan")) ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Masa Pajak</label>
                            <div class="col-sm-5">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                    <?= $this->formText($form->get("t_masaawal")) ?>
<!--                                </div>
                            </div>
                            <label class="col-sm-1 control-label">S/D</label>
                            <div class="col-sm-2">
                                <div class="input-prepend input-group">-->
                                    <span class="input-group-addon" style="background-color: #EEEEEE"><b>s/d</b></span>
                                    <?= $this->formText($form->get("t_masaakhir")) ?>
                                    <span class="add-on input-group-addon">
                                        <i class="glyph-icon icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- ////////////////////////////////////////////////-->


                        <!-- ////////////////////////////////////////-->
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border" align="right">
                                        <span class="btn btn-sm btn-danger" id="tambahDetail" al>Tambah</span>
                                    </div>
                                    <div class="box-body">
                                        <!-- <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                            <tr>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jenis Reklame</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Kode Rekening</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Nama Rekening</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Judul</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Lokasi</th>
                                            </tr>
                                            <input type="hidden" id="idl" value="1">
                                            <tbody id="add_Detail"></tbody>
                                        </table> -->
                                        <input type="hidden" id="idl" value="1">
                                        <div id="add_Detail"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ////////////////////////////////////////-->


                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Total Pajak</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_jmlhpajak")) ?>
                                <span id="error_t_jmlhpajak" style="color : red; display:none;" ></span>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-sm btn-primary" onclick="hitungTotalJumlahPajakReklame();">
                                    Hitung
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Pendataansubmit')) ?> 
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-overlay" tabindex="-1" aria-hidden="true" data-keyboard="false"
     style="text-align: center;width: 100%;">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<script>
    $('#Pendataansubmit').click(function () {
        var myForm = document.getElementById('demo-form');
        myForm.onsubmit = function () {
            var allInputs = myForm.getElementsByTagName('input');
            var input, i;

            for (i = 0; input = allInputs[i]; i++) {
                if (input.getAttribute('name') && !input.value) {
                    //input.setAttribute('name', '');

                } else {
                    jQuery('#modal-overlay').modal('show');
                }
            }
        };
    });

    $(document).ready(function () {   
        $("#tambahDetail").click(function () {
            var idl = document.getElementById("idl").value;
            $("#add_Detail").append(   
                '<div style="border-bottom: 1px solid red; margin-bottom: 10px;" id="detailnode' + idl + '">' +
                        '<div class="col-sm-12" >' +
                            '<label class="col-sm-2 control-label">Jenis Reklame</label>' +
                            '<div class="col-sm-5">' +
                                '<select name="t_jenisreklame[]" id="t_jenisreklame' + idl + '" class="form-control rekening" onchange="hitungpajakreklame(' + idl + ')">' +
                                    '<option value="">Silahkan Pilih</option>' +
                                    <?php foreach ($combojenisreklame as $row) { ?>
                                    '<option value="<?= $row['s_idjenis'] ?>"><?= $row['s_nama'] ?></option> ' +
                                    <?php } ?>
                                '</select>' +
                            '</div>' +
                        '</div>' +
                        '<div class="col-sm-12">' +
                           '<label class="col-sm-2 control-label">Kode Rekening</label>' +
                            '<div class="col-sm-2">' +
                                '<input type="hidden" id="t_idkorek' + idl + '" name="t_idkorek[]">' +
                                '<input class="form-control" readonly="true" style="text-align:left" name="t_korek[]" id="t_korek' + idl + '">' +
                                '<span id="error_t_idkorek" style="color : red; display:none;" ></span>' +
                            '</div>' +
                        '</div>' +
                        '<div class="col-sm-12">' +
                            '<label class="col-sm-2 control-label">Nama Rekening</label>' +
                            '<div class="col-sm-5">' +
                                '<input class="form-control" readonly="true" style="text-align:left" name="t_namakorek[]" id="t_namakorek' + idl + '">' +
                                '<span id="error_t_namakorek" style="color : red; display:none;" ></span>' +
                            '</div>' +
                        '</div>' +
                        '<div class="col-sm-12">'+
                            '<label class="col-sm-2 control-label">Judul</label>'+
                            '<div class="col-sm-5">'+
                                '<input class="form-control" style="text-align:left" name="t_naskah[]" id="t_naskah' + idl + '">' +
                                '<span id="error_t_naskah" style="color : red; display:none;" ></span>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-sm-12">'+
                            '<label class="col-sm-2 control-label">Lokasi</label>'+
                            '<div class="col-sm-5">'+
                                '<input class="form-control" style="text-align:left" name="t_lokasi[]" id="t_lokasi' + idl + '">' +
                                '<span id="error_t_lokasi" style="color : red; display:none;" ></span>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-sm-12" id="divsudutpandang">'+
                            '<label class="col-sm-2 control-label">Sudut Pandang</label>'+
                            '<div class="col-sm-4">'+
                                '<select name="t_sudutpandang[]" id="t_sudutpandang' + idl + '" class="form-control rekening" onchange="hitungpajakreklame(' + idl + ')">' +
                                    '<option value="">Silahkan Pilih</option>' +
                                    <?php foreach ($combosudutpandang as $row) { ?>
                                    '<option value="<?= $row['s_idsudutpandang'] ?>"><?= $row['s_namasudutpandang'] ?></option> ' +
                                    <?php } ?>
                                '</select>' +
                            '</div>'+
                        '</div>'+
                        '<div class="col-sm-12">'+
                            '<label class="col-sm-2 control-label">Panjang (m)</label>'+
                            '<div class="col-sm-1">'+
                                '<input class="form-control" value="0" onchange="hitungpajakreklame(' + idl + ')" style="text-align:right" name="t_panjang[]" id="t_panjang' + idl + '">' +
                            '</div>'+
                            '<label class="col-sm-1 control-label">Lebar (m)</label>'+
                            '<div class="col-sm-1">'+
                                '<input class="form-control" value="0" onchange="hitungpajakreklame(' + idl + ')" style="text-align:right" name="t_lebar[]" id="t_lebar' + idl + '">' +
                            '</div>'+
                            '<label class="col-sm-1 control-label">Luas (m<sup>2</sup>)</label>'+
                            '<div class="col-sm-1">'+
                                '<input class="form-control" readonly="true" onchange="hitungpajakreklame(' + idl + ')" style="text-align:right" name="t_luas[]" id="t_luas' + idl + '">' +
                                '<span id="error_t_luas" style="color : red; display:none;" ></span>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-sm-12">'+
                            '<label class="col-sm-2 control-label">Jumlah Reklame</label>'+
                            '<div class="col-sm-1">'+
                                '<input type="number" value="1" class="form-control" onchange="hitungpajakreklame(' + idl + ')" style="text-align:right" name="t_jumlah[]" id="t_jumlah' + idl + '">' +
                            '</div>'+
                        '</div>'+
                        '<div class="col-sm-12" id="divjangkawaktu">'+
                            '<label class="col-sm-2 control-label">Masa Reklame</label>'+
                            '<div class="col-sm-1" id="divinnerjangkawaktu">'+
                                '<input value="1" class="form-control" onchange="hitungpajakreklame(' + idl + ')" style="text-align:right" name="t_jangkawaktu[]" id="t_jangkawaktu' + idl + '">' +
                            '</div>'+
                            '<div class="col-sm-2">'+
                                '<input class="form-control" readonly="true" style="text-align:right" name="t_tipewaktu[]" id="t_tipewaktu' + idl + '">' +
                            '</div>'+
                        '</div>'+
                        '<div class="col-sm-12">'+
                            '<label class="col-sm-2 control-label">NSR</label>'+
                            '<div class="col-sm-3">'+
                                '<input class="form-control" readonly="true" style="text-align:right" name="t_nsr[]" id="t_nsr' + idl + '">' +
                            '</div>'+
                            '<div class="col-sm-3"></div>'+
                            '<label class="col-sm-1 control-label">Tarif (%)</label>'+
                            '<div class="col-sm-1">'+
                                '<input class="form-control" readonly="true" style="text-align:right" name="t_tarifreklame[]" id="t_tarifreklame' + idl + '">' +
                                '<span id="error_t_tarifreklame" style="color : red; display:none;" ></span>'+
                            '</div>'+
                        '</div>' +
                        '<div class="col-sm-12">' +
                            '<label class="col-sm-2 control-label">Total Pajak</label>'+
                            '<div class="col-sm-3">'+
                                '<input class="form-control" readonly="true" style="text-align:right" name="t_jmlhpajakpernode[]" id="t_jmlhpajakpernode' + idl + '">' +
                                '<span id="error_t_jmlhpajak'+ idl +'" style="color : red; display:none;" ></span>'+
                            '</div>'+
                        '</div>' +
                        '<div align="right" style="margin-bottom:5px;">' +
                            '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span></span>' +
                        '</div>' +
                    '</div>'
                    );
            idl = (idl - 1) + 2;
            document.getElementById("idl").value = idl;
        });
    });

    function removetr(a) {
        $("#detailnode" + a).remove();
    }



    function pilihRekening(a) {
        $.post('<?= $this->url() ?>/pilihRekening', {s_idkorek: a}, function (data) {
            var aa = JSON.parse(data);
            $('#t_idkorek').val(aa.t_idkorek);
            $('#t_korek').val(aa.t_korek);
            $('#t_tarifreklame').val(aa.t_tarifpajak);
            $('#t_namakorek').val(aa.t_namakorek);
            $('#modalRekening').modal('hide');
            // var rinci = aa.t_korek.substring(9, 11);
            var idkorek = aa.t_idkorek;
            if (idkorek == '61' || idkorek == '64' || idkorek == '66' || idkorek == '68' || idkorek == '69' || idkorek == '70' || idkorek == '75') {
                $('#divjangkawaktu').show();
                $('#divinnerjangkawaktu').show();
                $('#t_tipewaktu')
                        .empty()
                        .append('<option value="1">Bulan</option>');
            }else if (idkorek == '79' || idkorek == '81' || idkorek == '83') {
                $('#divjangkawaktu').show();
                $('#divinnerjangkawaktu').show();
                $('#t_tipewaktu')
                        .empty()
                        .append('<option value="0">Hari</option>');
                if(idkorek == '81' || idkorek == '83'){
                    $('#t_nspr').removeAttr('readonly');
                    $('#t_njopr').removeAttr('readonly');
                }else{
                    $('#t_nspr').attr('readonly', 'true');
                    $('#t_njopr').attr('readonly', 'true');
                }        
            }else {
                if(idkorek != '81' || idkorek != '83' || idkorek != '62' || idkorek != '170' || idkorek != '85' || idkorek != '86' || idkorek != '53' || idkorek != '54' || idkorek != '55'){
                        $('#t_nspr').val('2');
                }
                $('#divjangkawaktu').show();
                $('#divinnerjangkawaktu').show();
                $('#t_tipewaktu')
                        .empty()
                        .append('<option value="2">Tahun</option>');
            }
        });
        hitungpajakreklame();
    }

    
    function hitungpajakreklame(id) {
        // alert('id on : ' + id);

        $.post('<?= $this->url() ?>/hitungpajakreklame', {
            t_idkorek: $('#t_idkorek' + id).val(),
            t_jenisreklame: $("#t_jenisreklame" + id).val(),
            t_panjang: $("#t_panjang" + id).val(),
            t_lebar: $("#t_lebar" + id).val(),
            // t_tinggi: $("#t_tinggi").val(),
            t_sudutpandang: $("#t_sudutpandang" + id).val(),
            // t_bentukreklame: $("#t_bentukreklame").val(),
            t_jumlah: $("#t_jumlah" + id).val(),
            t_tipewaktu: $("#t_tipewaktu" + id).val(),
            t_jangkawaktu: $("#t_jangkawaktu" + id).val(),
            t_korek: $('#t_korek' + id).val(),
            t_tarifreklame: $('#t_tarifreklame' + id).val(),
            // t_nspr: $('#t_nspr').val(),
            // t_njopr: $('#t_njopr').val(),
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajakpernode' + id).val(aa.t_jmlhpajak);
            $('#t_luas' + id).val(aa.t_luas);
            $('#t_idkorek' + id).val(aa.t_idkorek);
            $('#t_korek' + id).val(aa.t_korek);
            $('#t_namakorek' + id).val(aa.t_namakorek);
            $('#t_tarifreklame' + id).val(aa.t_tarifpajak);
            $('#t_nsr' + id).val(aa.t_nsr);
            //////////////CASE ADDED////////////////
            var tipewaktu = aa.t_tipewaktu;
            if (tipewaktu == 0){
                $('#t_tipewaktu' + id).val('Harian');                    
            }else if(tipewaktu == 1){
                $('#t_tipewaktu' + id).val('Mingguan');                 
            }else if(tipewaktu == 2){
                $('#t_tipewaktu' + id).val('Tahunan');                        
            }else if(tipewaktu == 3){
                $('#t_tipewaktu' + id).val('Lembar');                     
            }else {
                $('#t_tipewaktu' + id).val('Undefined');           
            }
            ///////////////cASE ADDED///////////////

            hitungTotalJumlahPajakReklame();
        });
    }

    function hitungTotalJumlahPajakReklame()
    {
        let total = 0;
        let maxidl = $('#idl').val();
        for (let index = 1; index < maxidl; index++) {
            var strnum = $('#t_jmlhpajakpernode' + index).val();
            var Re = new RegExp("\\.","g");
            totalpernode = strnum.replace(Re, "");

            total += Number(totalpernode);
        }
        $('#t_jmlhpajak').val(format(String(total)));
    }

    function format(str) {
        var length = 3,
            separator = ".",
            count = 0,
            result = str.split('').reduceRight((a, c) => {
            if (count === length) {
                a.push(separator);
                count = 1;
            } else count++;
            a.push(c);
            return a;
            }, []).reverse().join('');
        return result;
    }


    $(function () {
        CariPendataanReklameByObjek();
    });
    function CariPendataanReklameByObjek() {
        $.post('<?= $this->url() ?>/CariPendataanReklameByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }

//    function comboKelurahanCamat() {
//        $.post('<? $this->url() ?>/comboKelurahanCamat', {t_kecamatan: $('#t_kecamatanrek').val()}, function (data) {
//            $("#t_kelurahanrek").html(data);
//        });
//    }
</script>