<div id="page-header" class="bg-gradient-8">
    <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span>
            <a href="<?= $this->url('main') ?>" class="logo-content-small" title="SIMPATDA"></a>
        </button>
    </div>
    <div id="header-logo" class="logo-bg pad5A">
        <img src="<?= $this->basePath() . '/public/upload/logomenu.png' ?>" alt="" width="70%">
        <a id="close-sidebar" href="#" title="Close sidebar">
            <i class="glyph-icon icon-angle-left"></i>
        </a>
    </div>
    <div id="header-nav-left">
        <div class="user-account-btn dropdown">
            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                <img width="28" src="<?= $this->basePath() . '/public/upload/icon-user.png'?>" alt="Profile image">
                <span class="font-size-11">
                    <?php $userName = explode(' ', @$datauser['s_nama']); ?>
                    <?= $userName[0] ?>
                </span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu float-left">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <!-- <a href="#" title="" class="change-img">Change photo</a> -->
                            <img src="<?= $this->basePath() . '/public/upload/icon-user.png'?>" alt="">
                        </div>
                        <div class="user-info">
                            <span>
                                <?= $datauser['s_nama']; ?>
                                <i><?= $datauser['s_namauserrole']; ?></i>
                            </span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="<?= $this->url('setting_user') . '/ubahpassback' ?>"
                            class="btn display-block font-normal btn-warning">
                            <i class="glyph-icon icon-key"></i>
                            Password
                        </a>
                        <a href="<?= $this->url('sign_in') . '/logout' ?>"
                            class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-nav-right">
        <?php
        $MenuHelper = $this->MenuHelper();
        $count_ketetapan = $MenuHelper->getBelumDitetapkan()->count();

        if(in_array($datauser['s_akses'], array(2,4,8))):
        ?>
        <div class="dropdown" id="notifications-btn">
            <a data-toggle="dropdown" href="#" title="">
                <?= ($count_ketetapan) ? '<span class="small-badge bg-red blink"></span>' : '';?>
                <i class="glyph-icon icon-linecons-megaphone"></i>
            </a>
            <div class="dropdown-menu box-md float-right">

                <div class="popover-title display-block clearfix pad10A">
                    Belum Ditetapkan <?=$count_ketetapan?> Item
                    <a class="text-transform-cap font-primary font-normal btn-link float-right"
                        href="<?=$this->url('penetapan')?>" title="View more options">
                        Lihat Semua
                    </a>
                </div>
                <div class="scrollable-content scrollable-slim-box">
                    <ul class="no-border notifications-box">
                        <?php foreach($MenuHelper->getBelumDitetapkan() as $row): ?>
                        <li>
                            <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                            <span
                                class="notification-text"><?='No. SPTPD : '. $row['t_nourut'] .' - '.$row['s_namajenis']?></span>
                            <div class="notification-time">
                                <?=date('d/m/Y', strtotime($row['t_tglpendataan']))?>
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <div class="pad10A button-pane button-pane-alt text-center">
                    <a href="<?=$this->url('penetapan')?>" class="btn btn-primary" title="View all notifications">
                        Tampilkan data penetapan
                    </a>
                </div>
            </div>
        </div>
        <?php endif; ?>
        <a class="header-btn" id="logout-btn" href="<?= $this->url('setting_user') . '/ubahpassback' ?>"
            title="Ganti Password">
            <i class="glyph-icon icon-key"></i>
        </a>
        <a class="header-btn" id="logout-btn" href="<?= $this->url('sign_in') . '/logout' ?>" title="Logout">
            <i class="glyph-icon icon-power-off"></i>
        </a>
    </div>
</div>