<?php
$abulan = ['01' => 'Januari', '02' => 'Februari', '03' => 'Maret', '04' => 'April', '05' => 'Mei', '06' => 'Juni', '07' => 'Juli', '08' => 'Agustus', '09' => 'September', '10' => 'Oktober', '11' => 'November', '12' => 'Desember'];
$t_tgldaftar = date('d', strtotime($data['t_tgldaftar'])) . " " . $abulan[date('m', strtotime($data['t_tgldaftar']))] . " " . date('Y', strtotime($data['t_tgldaftar']));
?>
<table style="width: 100%;font-family:arial;" cellspacing="6" cellpadding="4">
    <tr>
        <td style="width: 15%;">
            <img src="<?= $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/" . $ar_pemda->s_logo; ?>"  />
        </td>
        <td colspan="2" style="width: 85%;text-align: center;vertical-align: top;">
            <b style="font-size: 48px;color: yellow; text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblack;">PEMERINTAH KABUPATEN <?= strtoupper($ar_pemda->s_namakabkota) ?></b><br>
            <b style="font-size: 48px;color: yellow; text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblack;"><?= strtoupper($ar_pemda->s_namainstansi) ?></b><br>
            <span style="font-size: 38px;color: yellow; text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblack;"><?= $ar_pemda->s_alamatinstansi.' '.$ar_pemda->s_namaibukotakabkota.' - '.$ar_pemda->s_namaprov ?></span>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: right;padding-top: 20px;"><br><br><b style="font-size: 60px;color: blue; text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblack;">KARTU NPWPD</b><br><br><br><br></td>
    </tr>
    <tr>
        <td><b style="font-size: 43px;">NPWPD</b></td>
        <td><b style="font-size: 35px;">:</b></td>
        <td><b style="font-size: 43px;"><?= $data['t_npwpd'] ?></b></td>
    </tr>
    <tr>
        <td><b style="font-size: 35px;">Nama</b></td>
        <td><b style="font-size: 35px;">:</b></td>
        <td><b style="font-size: 35px;"><?= $data['t_nama'] ?></b></td>
    </tr>
    <tr>
        <td style="vertical-align: top;"><b style="font-size: 35px;">Alamat</b></td>
        <td style="vertical-align: top;"><b style="font-size: 35px;">:</b></td>
        <td><b style="font-size: 35px;"><?= ucwords(strtolower($data['t_alamat_lengkap'])) ?></b></td>
    </tr>
</table>
