<div id="page-content-wrapper">
    <div id="page-content" style="background-color: #DFF0D8">
        <?php
        if ($this->flashMessenger()->hasMessages()) {
            echo '<div class="alert alert-success">';
            $messages = $this->flashMessenger()->getMessages();
            foreach ($messages as $message) {
                echo $message;
            }
            echo '</div>';
        }
        ?>
        <div class="panel panel-primary" style="font-size: 11px;">
            <div class="panel-heading">
                <h4>
                    Pendaftaran Objek Pajak
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row" style="padding-bottom: 15px">
                        <div class="col-md-12">
                            <span style="text-align:right; background:black; color: orange; padding: 10px 10px; font-size: 16px; font-weight:bolder"><?= $data['t_npwpd'] ?></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data WP</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">Tanggal Pendaftaran</label>
                            <div class="col-md-2">
                                : <?= $data['t_tgldaftar'] ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">NIK</label>
                            <div class="col-md-4">
                                : <?= $data['t_nik'] ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">Nama</label>
                            <div class="col-md-4">
                                : <?= $data['t_nama'] ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">Alamat</label>
                            <div class="col-md-10">
                                : <?= $data['t_alamat'] ?>, Rt. <?= $data['t_rt'] ?>, Rw. <?= $data['t_rw'] ?>, Kel./Desa <?= $data['s_namakel'] ?>, Kec. <?= $data['s_namakec'] ?>, Kab. <?= $data['t_kabupaten'] ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">No. Telp.</label>
                            <div class="col-md-3">
                                : <?= $data['t_notelp'] ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-2 ">Kode Pos</label>
                            <div class="col-md-3">
                                : <?= $data['t_kodepos'] ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Objek Pajak</b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-warning" type="button" onclick="tambahobjekpajak()">
                                <span class="glyph-icon icon-plus-circle">
                                    Tambah Objek
                                </span>
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div class="scroll-columns">
                                <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                    <thead class="cf">
                                        <tr>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>No.</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>NIOP</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>Nama</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>Jenis</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>Alamat</th>
                                            <th style='background-color: #00BCA4; color: white; text-align:center'>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php
                                        $counter = 1;
                                        foreach ($this->dataobjek as $row) {
                                            ?>
                                            <tr>
                                                <td><?= $counter++ ?></td>
                                                <td style='color:red; font-size:12px; font-weight:bold'><?= $row['t_nop'] ?></td>
                                                <td><?= $row['t_namaobjek']; ?></td>
                                                <td><?= $row['s_namajenis']; ?></td>
                                                <td><?= $row['t_alamatobjek'] . ", RT. " . $row['t_rtobjek'] . ", RW. " . $row['t_rwobjek'] . ", Kel/Desa " . $row['s_namakel'] . ", Kec. " . $row['s_namakec'] ?></td>
                                                <?php
                                                $hapus = "";
                                                $operator = "";
                                                if ($datauser['s_akses'] == 2) {
                                                    $hapus = "<button class='btn btn-danger btn-xs' type='button' onclick='hapusobjekpajak($row[t_idobjek])'><span class='glyph-icon icon-trash'></span></button>";
                                                    $operator = $row['s_nama'];
                                                }
                                                ?>
                                                <td style="text-align: center"><button class="btn btn-warning btn-xs" type="button" onclick="editobjekpajak(<?= $row['t_idobjek'] ?>)"><span class="glyph-icon icon-pencil"></span></button> <?= $hapus ?><br><?= $operator ?></td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_tambahobjek');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>
<?= $this->form()->openTag($form) ?>
<div class="modal fade" id="modalObjekPajak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Tambah Objek Pajak</b></h4>
            </div>
            <div class='modal-body'>
                <div class='example-box-wrapper'>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-12" style="color: blue; font-size: 16px; padding-top: 5px">
                            <u>Objek Pajak</u>
                        </label>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Jenis Objek<span style="color: red">*</span>
                        </label>
                        <div class="col-md-5">
                            <?= $this->formHidden($form->get("t_idwp")) ?>
                            <?= $this->formHidden($form->get("t_idobjek")) ?>
                            <?= $this->formSelect($form->get("t_jenisobjek")) ?>
                        </div>
                        <label class="col-md-1">
                            No.<span style="color: red">*</span>
                        </label>
                        <div class="col-md-2">
                            <?= $this->formText($form->get("t_noobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Tgl. Daftar<span style="color: red">*</span>
                        </label>
                        <div class="col-md-2">
                            <?= $this->formText($form->get("t_tgldaftarobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Nama<span style="color: red">*</span>
                        </label>
                        <div class="col-md-5">
                            <?= $this->formText($form->get("t_namaobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Jalan
                        </label>
                        <div class="col-md-5">
                            <?= $this->formText($form->get("t_alamatobjek")) ?>
                        </div>
                        <label class="col-md-1">
                            RT/RW
                        </label>
                        <div class="col-md-1">
                            <?= $this->formText($form->get("t_rtobjek")) ?>
                        </div>
                        <div class="col-md-1">
                            <?= $this->formText($form->get("t_rwobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Kecamatan<span style="color: red">*</span>
                        </label>
                        <div class="col-md-3">
                            <?= $this->formSelect($form->get("t_kecamatanobjek")) ?>
                        </div>
                        <label class="col-md-2">
                            Kelurahan/Desa<span style="color: red">*</span>
                        </label>
                        <div class="col-md-3">
                            <?= $this->formSelect($form->get("t_kelurahanobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Kabupaten<span style="color: red">*</span>
                        </label>
                        <div class="col-md-3">
                            <?= $this->formText($form->get("t_kabupatenobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            No. Telp/Hp
                        </label>
                        <div class="col-md-3">
                            <?= $this->formText($form->get("t_notelpobjek")) ?>
                        </div>
                        <label class="col-md-2">
                            Kode Pos
                        </label>
                        <div class="col-md-3">
                            <?= $this->formText($form->get("t_kodeposobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Latitude
                        </label>
                        <div class="col-md-3">
                            <?= $this->formText($form->get("t_latitudeobjek")) ?>
                        </div>
                        <label class="col-md-2">
                            Longitude
                        </label>
                        <div class="col-md-3">
                            <?= $this->formText($form->get("t_longitudeobjek")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-12" style="color: blue; font-size: 16px; padding-top: 5px">
                            <u>Penanggungjawab</u>
                        </label>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Nama
                        </label>
                        <div class="col-md-3">
                            <?= $this->formText($form->get("t_namaobjekpj")) ?>
                        </div>
                        <label class="col-md-2">
                            Alamat
                        </label>
                        <div class="col-md-3">
                            <?= $this->formText($form->get("t_alamatobjekpj")) ?>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <label class="col-md-2">
                            Gambar Objek
                        </label>
                        <div class="col-md-10">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 200px;">
                                    <img id="t_gambarobjek" src=""/>  
                                </div>
                                <div>
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new">Upload Gambar</span>
                                        <span class="fileinput-exists">Change</span>
                                        <?= $this->formFile($form->get("t_gambarobjek")) ?>
                                    </span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class='modal-footer'>
                <div class='col-sm-12'> 
                    <?= $this->formInput($form->get('submit')) ?>
                    <button class='btn btn-danger btn-sm' type="button" onclick='tutupObjekPajak()'><i class='glyph-icon icon-close'></i> Tutup</button>
                </div>              
            </div> 
        </div>
    </div>
</div>
<?= $this->form()->closeTag($form) ?>
<script>
    function comboKelurahanCamat() {
        $.post('<?= $this->url() ?>/comboKelurahanCamat', {t_kecamatan: $('#t_kecamatanobjek').val()}, function (data) {
            var aa = JSON.parse(data);
            $("#t_kelurahanobjek").html(aa.res);
        });
    }

    function tambahobjekpajak(a) {
        $('#modalObjekPajak').modal('show');
        $("#t_idobjek").val("");
        $("#t_jenisobjek").val("");
        $("#t_noobjek").val("");
//        $("#t_tgldaftarobjek").val("");
        $("#t_namaobjek").val("");
        $("#t_alamatobjek").val("");
        $("#t_namaobjekpj").val("");
        $("#t_alamatobjekpj").val("");
        $("#t_rtobjek").val("");
        $("#t_rwobjek").val("");
//        $("#t_kecamatanobjek").val("");
//        $("#t_kelurahanobjek").val("");
//        $("#t_kabupatenobjek").val("");
        $("#t_notelpobjek").val("");
        $("#t_kodeposobjek").val("");
        $("#t_latitudeobjek").val("");
        $("#t_longitudeobjek").val("");
    }

    function tutupObjekPajak() {
        $('#modalObjekPajak').modal('hide');
    }

    function editobjekpajak(a) {
        $.post('<?= $this->url() ?>/editobjekpajak', {t_idobjek: a}, function (data) {
            $('#modalObjekPajak').modal('show');
            var aa = JSON.parse(data);
            $("#t_idobjek").val(aa.t_idobjek);
            $("#t_jenisobjek").val(aa.t_jenisobjek);
            $("#t_noobjek").val(aa.t_noobjek);
            $("#t_tgldaftarobjek").val(aa.t_tgldaftarobjek);
            $("#t_namaobjek").val(aa.t_namaobjek);
            $("#t_alamatobjek").val(aa.t_alamatobjek);
            $("#t_rtobjek").val(aa.t_rtobjek);
            $("#t_rwobjek").val(aa.t_rwobjek);
            $("#t_kecamatanobjek").val(aa.t_kecamatanobjek);
            $("#t_kelurahanobjek").html(aa.t_kelurahanobjek);
            $("#t_kabupatenobjek").val(aa.t_kabupatenobjek);
            $("#t_notelpobjek").val(aa.t_notelpobjek);
            $("#t_kodeposobjek").val(aa.t_kodeposobjek);
            $("#t_latitudeobjek").val(aa.t_latitudeobjek);
            $("#t_longitudeobjek").val(aa.t_longitudeobjek);
            $("#t_namaobjekpj").val(aa.t_namaobjekpj);
            $("#t_alamatobjekpj").val(aa.t_alamatobjekpj);
            var _img = document.getElementById('t_gambarobjek');
            var newImg = new Image;
            newImg.onload = function () {
                _img.src = this.src;
            }
            console.log(aa.t_gambarobjek);
            if (aa.t_gambarobjek !== null) {
                newImg.src = '<?=$this->basepath()?>/' + aa.t_gambarobjek;
            } else {
                newImg.src = "";
            }
        });
    }

    function noobjek() {
        $.post('<?= $this->url() ?>/noobjek', {t_jenisobjek: $('#t_jenisobjek').val()}, function (data) {
            var aa = JSON.parse(data);
            $("#t_noobjek").val(aa.t_noobjek);
        });
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#t_gambarobjek').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function hapusobjekpajak(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapusobjekpajak/' + a);
        }
        // reload page
        setTimeout(function () {
            location.reload();
        }, 1000);
    }
    
</script>